<div class="row">
	<div class="col-md-12">
		<h2>Beneficios</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>PLAN BASICO</h3>

		<h4>Emergencias médicas</h4>
		<p>Con la cuota de este plan, tenés incluida la cobertura con el mejor servicio de emergencias médicas de la ciudad de La Plata, UDEC.</p>
		<p>Este plan te ofrece cobertura individual en emergencias médicas y si sos odontólogo también incluye tu consultorio.</p>

		<h4>Subsidios</h4>
		<ul class="lista">
			<li>de escolaridad, nivel primario</li>
			<li>por nacimiento / adopción</li>
			<li>por casamiento</li>
			<li>por fallecimiento</li>
			<li>•	Subsidio especial por pérdida o disminución de ingresos (exclusivo Socios SOLP)</li>
		</ul>

		<p>En el caso de enfermedad, operación o accidente y estés imposibilitado de trabajar por un tiempo determinado,con un escaso aporte mensual la mutual te ofrece este subsidio, que consta de diferentes módulos (de 1 a 4) y el importe a percibir está en relación a dichos módulos.</p>

		<h4>Proveeduría</h4>
		<p>La mutual te ofrece diferentes productos con descuentos y en caso de ser Socio SOLP te permite descontarlos en cuotas directamente de tu facturación. </p>

		<h4>Reintegro en lentes</h4>
		<p>Te reitegramos un monto fijo por año en cristales, armazones o lentes de contacto.</p>

		<h4>Préstamo o alquiler de instrumental</h4>
		<p>En caso de ser odontólogo, ante rotura o falla de algún elemento o dispositivo de tu consultorio, te prestamos SIN CARGO por el plazo de 7 días las siguientes piezas:</p>
		<p>Turbina, esterilizadora, lámpara halógena, compresor, cavitador, jeringa triple, pieza de mano para micromotor.</p>
		<p>Luego de ese período igualmente podés aquilarlos a bajo costo.</p>

		<h4>Turismo</h4>
		<p>Los afiliados y su grupo familiar pueden acceder a paquetes turísticos nacionales e internacionales con descuento especiales.</p>
		<h4>Sorteos</h4>

		<h4>Descuentos en comercios</h4>
		...

		<h3>PLAN PLUS</h3>
		<p>Además de contar con todos los beneficios del PLAN BASICO, se le suman todos estos beneficios!</p>
		<ul class="lista">
			<li><strong>Cobertura en salud:</strong> reintegros en consultas y prácticas médicas,odontológicas y de laboratorio.</li>
			<li>En todos los subsidios se percibe el DOBLE del beneficio</li>
			<li>Se duplica el reintegro en óptica.</li>
			<li>Se duplican los días de préstamo sin cargo de instrumental y equipamiento odontológico.</li>
		</ul>
	</div>
</div>

