<div class="row">
	<div class="col-md-12">
		<h2>Contacto</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h6>DIRECCIÓN:</h6>
		<p>Calle 13 Nº 680 PB. C.P. 1900</p>
		
		<h6>TELÉFONO:</h6>
		<p>+54 221 422-7471 , Int. 241/242</p>

		<h6>CORREO ELECTRÓNICO:</h6>
		<p><i class="fa fa-envelope destacado"></i> <a class="linkdestacado" href="mailto:info@mutualsiglo21.org.ar">info@mutualsiglo21.org.ar</a></p>

		<p><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook Mutual Amo</p>
		<p><i class="fa fa-instagram" aria-hidden="true"></i> mutual.siglo21</p> 
	</div>
</div>
