<div class="row">
	<div class="col-md-12">
		<h2>Convenios</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h4>Óptica Bruno</h4>
		<p>Diag. 73 nº 3557<br>
		Tel: 15-6619651</p>

		<h4>Estudio M (Peluquería)</h4>
		<p>Calle 8 nº 1093</p>


		<h4>LuZ de Mar (Trajes de baño y pijamas)</h4>
		<p>Calle 9 nº 720</p>

		<h4>Gimnasio Juventud</h4>
		<p>Calle 35 nº 330 e/ 1 y 2</p>

		<h4>Oli Pijamas (Lencería y pijamas)</h4>
		<p><i class="fa fa-facebook-official" aria-hidden="true"></i> Oli.pijamas / <i class="fa fa-instagram" aria-hidden="true"></i>
 Oli.pijamas</p>

		<h4>LourHoltz (Manicura)</h4>
		<p>Atención a domicilio<br>
		Tel: 15-6380769<br>
		<ul class="lista">
			<li>spa de manos</li>
			<li>spa de pies</li>
			<li>makeup</li>
		</ul>

		<h4>Pinturerias Arco iris</h4>
		<p>Calle 41 1020 · 0221 425-0045<br>
		Av 31 354, Casco Urbano · 0221 479-6740<br>
		Av. 19 856 · 0221 424-6532</p>
	
		<h4>Las Antonias (Zapatos)</h4>
		<p><i class="fa fa-facebook-official" aria-hidden="true"></i> LasAntonias.</p>

		<h4>Librería Marpa</h4>
		<p>Calle 18 esq. 34<br>
		Teléfono: 0221-421-3577</p>

		<h4>Farmacia Seglie</h4>
		<p>Calle 13 e/ 40 y 41 nº 420</p>


		<h4>Complejo Deportivo Retro</h4>
		<p>Av. 66 y 139. Tel: 15-6417199</p>
		<ul class="lista">
			<li>fútbol</li>
			<li>padel</li>
			<li>eventos</li>
		</ul>

		<h4>Luz Azul (Tienda quesería, jamones)</h4>
		<p>Av 13 26 1/2, Casco Urbano · 0221 482-3246</p>

		<h4>Party Place (Cotillón para Fiestas y Cumpleaños)</h4>
		<p><a href="http://www.partyplace.com.ar">www.partyplace.com.ar</a></p>

		<h4>Resaca solidaria (es una ONG con diversas actividades)</h4>
		<p>Ofrece un descuento a la mutual en sus clases de “Hatha Yoga”<br>
		Calle 13 nº 662</p>

		<h4>Patricia Arias (Ropa)</h4>	
		<p>Calle 46 Nro. 913</p>
	</div>
</div>