<div class="row">
	<div class="col-md-12">
		<h2>Nosotros</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p>La creación de esta mutual tiene que ver con lo que históricamente dio vida y orígen a muchos de los proyectos de SOLP,esto es la solidaridad y el mutualismo.</p>

		<p>Nace con el objeto de brindar ayuda solidaria entre sus miembros y contribuir al crecimiento, desarrollo y protección de los mismos mediante beneficios y servicios.</p>

		<p>La Mutual es de adhesión voluntaria y no sólo para odontólogos sino también es abierta al público en general.</p>

		<p>La Mutual surge en el año 2004, más precisamente el 25 de agosto de 2004, día en el cual obtiene su número de matrícula otorgado por el INAES, organismo nacional que regula la actividad del mutualismo en la Argentina. Toda mutual en regla debe estar inscripta y someterse al control del mencionado organismo.</p>
	</div>

    <div class="col-sm-12 col-md-8 offset-md-2"><!-- Galería de imágenes -->
        <div class="owl-carousel owl-theme galeria-basica">
            <div class="item"><img src="images/mutual-1.jpg" alt="Mutual Siglo XXI"></div>
            <div class="item"><img src="images/mutual-2.jpg" alt="Mutual Siglo XXI"></div>
        </div>
        <script type="text/javascript">
            $('.galeria-basica').owlCarousel({
                loop:true,
                responsive:{
                    0:{
                        items:1
                    }
                }
            })
        </script>
    </div><!-- cierra galería -->
</div>
