<h2>Autoridades</h2>
<h6>COORDINACIÓN</h6>
<p><strong>OD. AÚN, Yamil</strong></p>
<h6>JEFE DE RESIDENTES</h6> 
<p>OD. VITALE, Franco </p>
<h6>SERVICIO DE ADMISIóN </h6>
<p>OD. RODRIGUEZ, Guadalupe</p>

<h3>Becarios 2019</h3> 
<p>OD. ALTIERI, MartinaM.P. 15.334 </p>
<p>OD. GARCIA PROCACCINI, Paz Giselle M.P. 24.837 </p>
<p>OD. GUTIERREZ, Roxana Mariel M.P. 15.320</p>
<p>OD. KORNIEJCZUK, Maximiliano Leonel M.P. 15336 </p>
<p>OD. LOPEZ, María Celeste M.P. 15.335  </p></p>
<p>OD. MENDIBURU, Juan Martín M.P. 15.327 </p>
<p>OD. PRESTE, Agustina MP .45.240</p>
<p>OD. NAVARRO CORONADO, Franco MP  15330</p>
<p>OD. NOVOA, Leandro Ezequiel M.P. 15.323</p>

