<h2>Cronograma Residencia 2019</h2>

<div class="box-cronograma">
	<h5>1º. INSCRIPCIÓN</h5>
	<p><i class="fa fa-calendar" aria-hidden="true"></i> Del 1 de diciembre de 2018 al 26 de Abril de 2019. </p>
	<p><i class="fa fa-clock-o" aria-hidden="true"></i> Lunes, Miércoles, Jueves y Viernes 9 a 14 hs. </p>
</div>

<div class="box-cronograma">
	<h5>2º. REUNIÓN PRE-EXAMEN (OBLIGATORIA)</h5> 
	<p><i class="fa fa-calendar" aria-hidden="true"></i> Martes 07 de Mayo de 2019</p>
	<p><i class="fa fa-clock-o" aria-hidden="true"></i> 19 hs.</p>
</div>

<div class="box-cronograma">
	<h5>3º. EXAMEN DE ADMISIÓN</h5> 
	<p><i class="fa fa-calendar" aria-hidden="true"></i> Jueves  16 de Mayo de 2019</p>
	<p><i class="fa fa-clock-o" aria-hidden="true"></i> 9 hs.</p>
</div>

<div class="box-cronograma">
	<h5>4º. EVALUACIÓN DE ANTECEDENTES Y ENTREVISTA PERSONAL</h5>
	<p><i class="fa fa-calendar" aria-hidden="true"></i> Martes 21 de Mayo de 2019</p>
	<p><i class="fa fa-clock-o" aria-hidden="true"></i> 9 hs.</p>
</div>

<div class="box-cronograma">
	<h5>5º. ADJUDICACIÓN DE VACANTES</h5> 
	<p><i class="fa fa-calendar" aria-hidden="true"></i> Martes 28 de Mayo de 2019.</p>
</div>

<div class="box-cronograma">
	<h5>6º. TOMA DE POSESIÓN </h5>
	<p><i class="fa fa-calendar" aria-hidden="true"></i> Jueves 06 de Junio de 2019.</p>
</div>

<h3>Bibliografía</h3>
<h5>RESIDENCIA ODONTOLOGICA CON ORIENTACION EN EMERGENTOLOGIA.- SE.GU -</h5>


<h4>ENDODONCIA</h4>

<p>Cohen, Stephen; Hargreaves, Kenneth M.  <strong>Vías de la pulpa.</strong> 9a ed.  Barcelona : Elsevier, 2008. </p>

<p>Soares, Ilson José; Goldberg, Fernando.  <strong>Endodoncia: técnicas y fundamentos.</strong>  Buenos Aires: Médica Panamericana, 2002. </p>

<h4>PERIODONCIA</h4>

<p>Newman, Michael; Takei, Henry H; Carranza, Fermín. <strong>Carranza: periodontología clínica.</strong>  México:  McGraw-Hill, 2004</p>

<h4>PROTESIS</h4>
 
<p>Carr, Alan B; McGivney, Glen P; Brown, DT.. <strong> McCracken: prótesis parcial removible.</strong>  11ª ed.  Madrid, Elsevier: 2006. Capítulos: 2, 3, 4 y 5.</p>
 
<p>Fernández Bodereau Jr., Enrique; Fernández Bodereau, Enrique. <strong>Prótesis fija e implantes: práctica clínica.  </strong>Madrid: Ediciones Avances Médico-dentales, 1996. Capítulos: 5, 6 y 7.</p>

<p>Fradeani M. <strong>Rehabilitación estética en prostodoncia fija:</strong> TRATAMIENTO PROTÉSICO. ABORDAJE SISTEMÁTICO A LA INTEGRACIÓN ESTÉTICA, BIOLÓGICA Y FUNCTIONAL. Vol. 2. Barcelona: Quintessence, 2012. Capítulos 5, 6 y 7. </p>

<p>Fradeani M. <strong>Rehabilitación estética en prostodoncia fija: </strong> TRATAMIENTO PROTÉSICO. ABORDAJE SISTEMÁTICO A LA INTEGRACIÓN ESTÉTICA, BIOLÓGICA Y FUNCTIONAL. Vol. 2. Barcelona: Quintessence, 2012. Capítulos. Capítulos: 2 y 3.</p>

<h4>CIRUGIA</h4>

<p>Ries Centeno, Guillermo A. <strong>Cirugía bucal: patología, clínica y terapéutica. </strong> 9ª. ed.  Buenos Aires: El ateneo, 1991.Capítulos1, 3, 4 al 15 y 24.</p>

<p>Gay Escoda, Cosme; BeriniAytés, Leonardo. <strong>Cirugía bucal. 2 t.</strong> Barcelona: Océano/Ergon, 2007. Capítulos: 3, 5, 6, 7, 10, 11, 16, 21.</p>

<p>Oribe, Jorge A. <strong>Cirugía maxilofacial.</strong>  Buenos Aires:  Libreros López Editores, 1981. Capítulos: 1, 2, 3, 5, 6, 7, 18. </p>

<p>Bencini, C. A; Bencini, A. C. <strong>Apoyo vital básico: apoyo vital básico.</strong> C.E.O.L.P., 2009.</p>

