<h2>Nosotros…. Nuestros orígenes</h2>
<p><strong>Se.Gu. “Servicio de Guardia en Urgencias Odontológicas”</strong>, fue concebido como un aporte al Socio con la finalidad de cubrir en horario nocturno y en días no laborables la demanda espontánea de pacientes con patologías que revistan carácter de Urgencias que por diferentes razones nuestros colegas no puedan asistirlos. No compite con la práctica profesional del consultorio, de hecho sólo se realizan maniobras terapéuticas de urgencias. Constituyen pasos intermedios de determinadas prestaciones que luego el Odontólogo de cabecera completará y transformará en una práctica definitiva. </p>

<div class="row">
    <div class="col-sm-12"><!-- Galería de imágenes / col-md-10 offset-md-1-->
        <div class="owl-carousel owl-theme galeria-basica">
            <div class="item"><img src="images/segu/segu-1.jpg" alt="SEGU 2018"></div>
            <div class="item"><img src="images/segu/segu-2.jpg" alt="SEGU 2018"></div>
            <div class="item"><img src="images/segu/segu-3.jpg" alt="SEGU 2018"></div>
        </div>
        <script type="text/javascript">
            $('.galeria-basica').owlCarousel({
                loop:true,
                responsive:{
                    0:{
                        items:1
                    }
                }
            })
        </script>
    </div><!-- cierra galería -->
</div>

<p>Se trata de un beneficio que nuestra Entidad brinda al Socio y a la Comunidad promoviendo la posibilidad de trabajo para aquellos jóvenes profesionales que pretendan ingresar al sistema de salud a partir de una formación académico - asistencial.</p>
<p>El <strong>Se.Gu.</strong> perteneciente a la S.O.L.P. ya instalado en nuestra ciudad con identidad propia, es un Servicio de y para todos los Odontólogos que conformamos esta Sociedad. No respetar estrictamente el sentido de la Ética profesional no es solo criticable sino penable. 
Nosotros, quienes coordinamos este Servicio poseemos una doble responsabilidad: trabajar comprometidamente dentro de las normatizaciones antepuestas como Socios de la Entidad y como profesionales de consulta de los pacientes de nuestros colegas.</p>
<p>El <strong>Se.Gu.</strong> vive una permanente transformación educativa y en ese camino seguiremos avanzando. En su fundamentación sostenemos que: <em>“El hacer y el enseñar”</em> es un adecuado equilibrio entre la formación académica y la labor profesional que contribuye a brindar elementos, crear referentes, alimentar el ciclo para una enseñanza mejor.</p>
<p>Todos los conceptos, experiencias y reflexiones acerca de los comportamientos de la población con respecto a la salud bucal, se trasladarán a la Beca de formación profesional, donde se transformarán en sanos principios de enseñanza, herramientas para el aprendizaje, la investigación, la discusión y la reflexión que contribuirán al debate, hacia una Odontología posible con identidad propia y que se verán finalmente reflejados en la práctica realizada por los alumnos, nuestros Residentes. </p>
<p>Creemos que es fundamental promover así un proceso de formación multidisciplinario que nos devuelva <em>“Profesionales Integrales”</em> comprometidos con la sociedad, la cultura, el avance tecnológico y científico; en síntesis, que les permita ser profesionales con Sentido Social.</p>

