<h2>¿Querés formar parte de este equipo?</h2>
<p>La Residencia tiene una duración de 14 meses, comenzando con una inscripción abierta a todos los profesionales recién recibidos que no superen los 5 años de egresados de cualquier Universidad Nacional tanto pública como privada.</p>
<p>Al finalizar obtendrán el siguiente Certificado: <strong>“Curso de formación Odontológica con orientación en Emergentología”</strong> (Residencia de Guardias-Beca de formación), autorizado por el Ministerio de Salud de la Provincia de Buenos Aires bajo la resolución N° 004462.</p>

<h4>Programa modulado</h4>
<h6>Módulo I</h6>
<p>“Introducción teórica intensiva y guardias presenciales”</p>

<h6>Módulo II</h6>
<p>“Cursada regular intensiva y guardias activas”</p>

<h6>Módulo III</h6>
<p>“Cursada regular, Evaluación, Presentación del trabajo final y Guardias activas”</p>

<h4>Carga horaria (Distribución)</h4>
<p><strong>Carga horaria Académica:</strong> 525 horas</p>
<p><strong>Carga horaria de guardias presenciales:</strong> 40 horas</p>
<p><strong>Carga horaria de guardias activas:</strong> 731 horas</p>
<p><strong>Total de horas Beca de Formación profesional:</strong> 1296 horas</p>

<p>Los dictantes serán Docentes destacados en cada Especialidad (Endodoncia, Cirugía, Prótesis, Periodoncia, Odontología Comunitaria) Titulares y/o Adjuntos de las Cátedras de la Facultad de Odontología UCALP-SOLP y dictantes de la Escuela para Graduados. Además, contarán con la presencia de profesionales de otras ramas de la Salud especializados en su Área. Cada actividad teórica tendrá 5 horas de duración. Se sumarán a las actividades académicas Seminarios, Ateneos, Clases teóricas, Clases prácticas y participación en Jornadas y Congresos articulados con la Escuela para Graduados de la S.O.L.P. y otras Instituciones.</p>

<h4>Modalidad de Promoción y Evaluación</h4>

<p>Se obtendrá la aprobación de la Residencia con siete (7) puntos como mínimo, realizándose evaluaciones parciales y finales. La asistencia a los cursos y seminarios son de carácter obligatorio y deberán cumplimentar un 80% como mínimo para obtener el Certificado.</p>

<h4>Evaluación metodológica</h4>
<p>Al finalizar el cursante será evaluado según los siguientes Ítems:</p>
<ul class="lista">
	<li>Prueba de conocimiento.</li>
	<li>Asistencia y puntualidad.</li>
	<li>Cumplimiento de la tarea asignada.</li>
	<li>Relaciones humanas.</li>
	<li>Habilidades y destrezas.</li>
</ul>
 
<h4>Prácticas en SE.GU.</h4>
<p>Cada Odontólogo deberá cumplir semanalmente con una guardia activa de 12 (doce) horas y con una guardia de 4 (cuatro) horas. Las guardias pasivas corresponden semanalmente a un profesional designado, en caso que se requiera deberá presentarse a realizar la misma.</p>