<div class="row">
	<div class="col-md-12">
		<h6>IDES</h6>
		<h2>Instituto de Enseñanza Superior Dr. “Raúl Duyos”</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12 mb-4">
		<p>La formación que propone el IDES Dr. Raúl Duyos hace que el egresado se convierta en técnico capacitado en las distintas disciplinas auxiliares de la odontología moderna, en constante crecimiento y desarrollo con las innovaciones técnicas de la implantología y ortodoncia.</p>

		<h3>Respaldo Docente</h3>

		<p>La Sociedad Odontológica de La Plata creó en el año 2001 este Instituto que cuenta con docentes de altísimo nivel académico, graduados en la UBA y en la UNLP y con amplia trayectoria profesional.</p>

		<h3>Infraestructura</h3>

		<p>A estos recursos humanos se suma una infraestructura y un equipamiento tecnológico de punta, que permite estar en la primera línea de los adelantos de la técnica dental y que le confiere a la carrera las características de excelencia que la distingue.</p>

		<p>La misma cuenta con un plan de estudios en el que la práctica sobre modelos constituye el eje sobre el cual se asientan las habilidades del estudiante; y completa su formación con materias humanísticas y legales que aportan los conocimientos necesarios de un claro y seguro ejercicio de su actividad.</p>

		<p>Directora: Dra. Rojo Maria del Rosario</p>
	</div>
</div>
