<div class="row">
	<div class="col-md-12">
		<h2>Requisitos de Inscripción</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12 mb-4">
		<ul class="lista">
			<li>4 fotos carnet</li>
			<li>Fotocopia del DNI</li>
			<li>Certificado de Aptitud Psicofísico</li>
			<li>Certificado de Vacuna Antitetánica</li>
			<li>Título y Analítico Secundario - legalizado y registrado (Trámite en el Consejo Escolar 2 y 42)</li>
		</ul>
		<a class="btn btn-primary" target="_blank" href="descargas/ides/planilla-de-inscripcion.pdf" download="planilla-de-inscripcion.pdf">Planilla de Inscripción</a>
	</div>
</div>
