<!-- Abre Titulo -->
        <div class="row">
            <div class="col-md-12 mb-4">
                <h2>Autoridades 2018</h2>
            </div>
        </div>

        <!-- Abre Contenido -->        
        <div class="row">
            <div class="col-md-12">
                <img src="#" alt="">
                <h6>DIRECTOR</h6>
                <p><strong>Dr. Zappacosta Juan Pablo</strong></p>

                <img src="#" alt="">
                <h6>SECRETARIO</h6>
                <p>Sr. Cabrera Agustín</p>

                <img src="#" alt="">
                <h6>CLINICA</h6>
                <p>Srta. Lázaro Susana</p>
            </div>
        </div>
    </div>
