<!-- Abre Titulo -->
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Contacto</h2>
            </div>
        </div>

        <!-- Abre Contenido -->        
        <div class="row">
            <div class="col-md-12">
                <h3>Horario de atención y Funcionamiento</h3>

                <p><strong>Actividades administrativas:</strong><br>
                De lunes a viernes de 8 hs. a 15 hs.</p>
                <p><strong>Actividades de cursos (teóricas y de clínica):</strong><br>
                Lunes a sábados de 8:30 hs. a 23 horas según programación de cada actividad.</p>

                <h3>Área administrativa</h3>
                <h6>Secretario:</h6>
                <p>Cabrera Agustín<br>
                5to Piso Te. 0221 422-7471 int. 215</p>
                <p><i class="fa fa-envelope destacado"></i> <a href="mailto:escuela@solp.org.ar">escuela@solp.org.ar</a></p>
                
                <h6>Área Clínica:</h6>
                <p>Lázaro Susana<br>
                4º PisoTe. 0221 422 7471 int. 221</p>
                <p><i class="fa fa-envelope destacado"></i> <a href="mailto:epg@solp.org.ar">epg@solp.org.ar</a></p>

                <h6>Dirección:</h6>
                <p>Dr. Zappacosta Juan Pablo</p>
                <p><i class="fa fa-envelope destacado"></i> <a href="mailto:direccionepg@solp.org.ar">direccionepg@solp.org.ar</a></p>
            </div>
        </div>