<!-- Section Cabecera -->
<section class="cabecera-seccion-gral cabecera-institucional">
    <div class="row">
        <div class="banda banda-institucional">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Acción Solidaria</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Cabecera -->

<!-- Section Noticia -->
<section class="interior">
    <div class="container">
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Acción Solidaria</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3 class="mb-4">Nuestras acciones</h3>

				<p>Desde la SOLP realizamos infinitas acciones desde la prevención, educación y ofrecemos a nuestros socios diferentes subsidios.</p>

				<h4>Subsidios generales</h4>
                <ul class="lista">
                    <li>Por escolaridad / Jardín Maternal</li>
                    <li>Por enfermedad</li>
                    <li>Por hijo Menor con discapacidad (menor a 18 años)</li>
                    <li>Por hijo Adulto con discapacidad (mayor a 18 años)</li>
                    <li>Por casamiento</li>
                    <li>Por nacimiento</li>
                    <li>Por adopción</li>
                    <li>Por maternidad</li>
                    <li>Por fallecimiento de cónyuge</li>
                </ul>

                <h4>Compensación al Socio</h4>
                    <ul class="lista">
                        <li>Asistencial (socio prestador vitalicio continúo)</li>
                        <li>Por Retiro Jubilatorio (socio jubilado)</li>
                    </ul>

                <h4>Para solicitar un subsidio</h4>
                <p>Acceda al formulario ingresando a la Solapa de Fondo Solidario a través del acceso restringido <a href="http://privada.solp.org.ar">Servicios On Line</a></p>

            </div>
        </div>
    </div>
</section>
