<!-- Section Cabecera -->
<section class="cabecera-seccion-gral cabecera-institucional">
    <div class="row">
        <div class="banda banda-institucional">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Institución</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Cabecera --> 

<!-- Section Contenido -->
<section class="interior">
    <div class="container">

		<!-- Abre Titulo -->
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Autorizaciones</h2>
            </div>
        </div>
		<div class="row">	
			<div class="col-sm-12 col-md-8 offset-md-2">
				<div class="embed-responsive embed-responsive-16by9 mb-4">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Jb4x12LoQpM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>	
			</div>
			<div class="col-md-12">
				<p class="mb-0">Ante cualquier duda, consúltemos a: </p>
				<a href="mailto:auditoria@solp.org.ar"><i class="fa fa-envelope-o mr-1" aria-hidden="true"></i>
		auditoria@solp.org.ar</a>
			</div>
		</div>

	</div>
</section>