<!-- Section Cabecera -->
<section class="cabecera-seccion-gral cabecera-institucional">
    <div class="row">
        <div class="banda banda-institucional">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Institución</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Cabecera --> 

<!-- Section Contenido -->
<section class="interior">
    <div class="container">

		<!-- Abre Titulo -->
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Contáctenos</h2>
            </div>
        </div>
		<div class="row">	
			<div class="col-md-6">
				<h6>SOLP</h6>
                <p>Calle 13 Nro. 680<br>
                <strong>Horario de atención:</strong> 8.00 a 15.00 hs.<br>
                Teléfono: 0221 422 7471<br>
                Socios del interior: 0800 666 0941</p>

                <h6>ATENCIÓN AL SOCIO</h6>
                Piso 2<br>
                Int. 208-230<br>
                <i class="fa fa-envelope destacado"></i> <a href="mailto:info@solp.org.ar">info@solp.org.ar</a></p>

                <h6>Socio del Interior</h6>
                <p>0800-666-0941<br>
                Int. 224<br>
                WhatsApp 221-585-8407</p>
                <i class="fa fa-envelope destacado"></i> <a href="mailto:interior@solp.org.ar">interior@solp.org.ar</a></p>

                <h6>SECRETARÍA</h6>
                <p>Piso 10<br>
                Int. 211<br>
                <i class="fa fa-envelope destacado"></i> <a href="mailto:secretaria@solp.org.ar">secretaria@solp.org.ar</a></p>

                <h6>AUDITORÍA</h6> 
                <p>Piso 2<br>
                Int. 205-206<br>
                <i class="fa fa-envelope destacado"></i> <a href="mailto:auditoria@solp.org.ar">auditoria@solp.org.ar</a></p>

                <h6>DÉBITOS</h6> 
                <p>Piso 2<br>
                Int. 219 / 248<br>
                <i class="fa fa-envelope destacado"></i> <a href="mailto:debitos@solp.org.ar">debitos@solp.org.ar</a></p>

                <h6>ÁREA CONTABLE Y TESORERÍA</h6>
                <p>Piso 3<br>
                Int. 213<br>
                <i class="fa fa-envelope destacado"></i> <a href="mailto:contable@solp.org.ar">contable@solp.org.ar</a></p>
                <p>Int. 217<br>
                <i class="fa fa-envelope destacado"></i> <a href="mailto:tesoreria@solp.org.ar">tesoreria@solp.org.ar</a></p>

                <h6>PAGOS</h6>
                <p>Piso 3<br>
                Int. 216-218<br>
                <i class="fa fa-envelope destacado"></i> <a href="mailto:pagos@solp.org.ar">pagos@solp.org.ar</a></p>
            
            </div>
            <div class="col-md-6">
                <h6>CULTURA</h6>
                <p>Piso 10<br>
                Int. 225</p>

                <h6>ACCIÓN SOCIAL</h6>
                <p>Piso 10<br>
                Int. 247</p>

                <h6>RELACIONES INSTITUCIONALES</h6>
                <p>Piso 10<br>
                Int. 232</p>

                <h6>BIBLIOTECA</h6>
                <p>Piso 8<br>
                Int. 203<br>
                <i class="fa fa-envelope destacado"></i> <a href="mailto:biblioteca@solp.org.ar">biblioteca@solp.org.ar</a></p>

                <h6>FACULTAD</h6>
                <p><strong>Horario de atención:</strong> 9.00 a 15.00 hs<br>
                Piso 1<br>
                Int. 228 ó 221 439 3100 Int 1280<br>
                <i class="fa fa-envelope destacado"></i> <a href="mailto:odontologia@ucalp.edu.ar">odontologia@ucalp.edu.ar</a></p>

                <h6>EPG</h6>
                <p>Piso 5<br>
                Int. 215<br>
                <i class="fa fa-envelope destacado"></i> <a href="mailto:escuela@solp.org.ar">escuela@solp.org.ar</a></p>

                <h6>ASISTENTE DENTAL</h6>
                <p><strong>Horario de atención:</strong> Martes, Miércoles y Jueves de 20.00 a 23.00 hs<br>
                Piso 7<br>
                Int. 227</p>

                <h6>SEGU</h6>
                <p><strong>Horario de atención:</strong> 20.00 a 8.00 hs. Sáb, Dom. y feriados 24 hs.<br>
                Piso PB<br>
                Int. 204<br>
                <i class="fa fa-envelope destacado"></i> <a href="mailto:segu@solp.org.ar">segu@solp.org.ar</a></p>

                <h6>IDES</h6>
                <p><strong>Horario de atención:</strong> 18.00 a 20.00 hs<br>
                Piso 7<br>
                Int. 246<br>
                <i class="fa fa-envelope destacado"></i> <a href="mailto:idesrduyos@solp.org.ar">idesrduyos@solp.org.ar</a></p>
			</div>
		</div>

	</div>
</section>