<!-- Section Datos Destacados -->
<section id="datos" class="bg-gradient">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="">
                    <li class=""><i class="fa fa-phone" aria-hidden="true"></i>0800-666-0941 <span>(Desde el interior)</span></li>
                    <li class="wp"><i class="fa fa-whatsapp" aria-hidden="true"></i> (0221) 419-2715 <p class=""><span>Exclusivo para socios</span></p><span class="agendanos">Agendanos para recibir novedades!</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Slider -->
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <img src="images/solp.png" alt="Sociedad Odontológica de La Plata" class="logoFooter">
            </div>
            <div class="col-sm-5 col-md-3">
                <h4>HORARIO DE ATENCIÓN:</h4>
                <h5>Lunes a Viernes de 8 a 15hs.</h5>
                <h4>E-MAIL</h4>
                <h5><a class="linkFooter" href="mailto:info@solp.org.ar">info@solp.org.ar</a></h5>
                <h4>SEDE</h4>
                <p>Calle 13 Nro. 680 entre 45 y 46, <br> La Plata, Buenos Aires.</p>
            </div>
            <div class="col-sm-5 col-md-3">
                <h4>Teléfono</h4>
                <h5>(0221) 422-7471</h5>
                <h4>Desde el interior</h4>
                <h5>0800-666-0941</h5>
                <h4 class="mb-1">En las redes</h4>
                <p>
                    <a class="face" href="https://www.facebook.com/solp.laplata/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a>
                    <a class="instagram" href="https://www.instagram.com/sociedad.odontologica.lp/?hl=es-la" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
                </p>
            </div>
            <div class="col-sm-2 col-md-2">
                <h4 class="mb-4"><a ng-href="contacto" data-toggle="modal" data-target="#">Contacto</a></h4>
                <a class="data-fiscal" href="http://qr.afip.gob.ar/?qr=H210Pxq97PCM1lpLrrH1YQ,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg"></a>
            </div>
        </div>
    </div>

    <div class="copy">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 copyText">© Sociedad Odontológica de La Plata 2018. Todos los derechos reservados.</div>
                <div class="col-sm-6 sm">Desarrollado por Sampaoli&Molinero</div>
            </div>
        </div>
    </div>
</footer>
<!-- Fin Footer -->
