<!-- Section Cabecera -->
<section class="cabecera-seccion-gral cabecera-institucional">
    <div class="row">
        <div class="banda banda-institucional">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Institución</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Cabecera --> 

<!-- Section -->
<section class="interior">
    <div class="container">
    	<!-- Abre Titulo -->
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Guardias</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
				<div class="box-bannerGuardia">
					<h2>Servicio de <strong>Guardias Odontológicas</strong></h2>
					<h3 class="mb-4">Lunes a Viernes de <strong>20 a 8 hs.</strong> <br>Sábados, domingos y feriados <strong>24 hs.</strong></h3>
					<p class="mb-2">ATENCIÓN CON OBRAS SOCIALES Y PARTICULARES </p>
					<p class="txt-azul"><strong>Documentación requerida para ser atendido:</strong></p>
					<p>D.N.I y Carnet de Obra Social</p>
				</div>

				<h3>Tenemos convenios con las siguientes Obras Sociales:</h3>
				<div class="row mb-2">
					<div class="col-md-6">
						<ul class="lista">
							<li>SUM</li>
							<li>IOMA</li>
							<li>OPAM – UP</li>
							<li>OSDE</li>
							<li>CAJA DE SEGURIDAD SOCIAL PARA ESCRIBANOS</li>
							<li>OSPE</li>
							<li>GALENO</li>
							<li>MUTUAL SIGLO XXI</li>
							<li>OBRA SOCIAL DE LA INDUSTRIA PLASTICA – OSPIP</li>
							<li>OSPOCE INTEGRAL</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="lista">
							<li>OSPATCA</li>
							<li>RED ARGENTINA DE SALUD – RAS</li>
							<li>SCIS</li>
							<li>SWISS MEDICAL</li>
							<li>AMFFA SALUD</li>
							<li>MEDICUS</li>
							<li>CASA</li>
							<li>AMEBPBA (BANCO PROVINCIA)</li>
							<li>APM</li>
						</ul>
					</div>
				</div>
				
				<div class="row mb-2">
					<div class="col-md-12">
						<h4>Otros convenios:</h4>
						<ul class="lista mb-4">
							<li>FUTBOL INFANTIL DE GIMNASIA Y ESGRIMA DE LA PLATA</li>
							<li>GIMNASIA Y ESGRIMA DE LA PLATA</li>
							<li>PACIENTES DE CURSO DE FACULTAD UCALP SOLP</li>
							<li>LIGA AMATEUR PLATENSE DE FUTBOL</li>
							<li>DOCENTES Y ALUMNOS DE UCALP</li>
						</ul>
						<p>Los pacientes se retirarán de la consulta de urgencia con el correspondiente <strong>“Certificado de atención”</strong> donde se detallarán: día y horario de su concurrencia al Servicio, motivo de la consulta, maniobras realizadas y prescripciones/indicaciones si las hubiere. (Se realizan maniobras tales como: drenajes; aperturas; recementados; provisorios; hemostasias; resolución de traumatismos dentoalveolares).</p>
						<p>Aquellos pacientes que posean Obras Sociales con convenios con el Se.Gu. se atenderán con la presentación de la credencial y D.N.I.; el resto de los pacientes serán atendidos en forma particular. Los profesionales responsables de la atención del Se.Gu que trabajan por Obras Sociales no pueden facturar prácticas a pacientes atendidos en el servicio de urgencias.</p>
					</div>
				</div>
        	</div>
    	</div>
    </div>
</section>
