<!--  Header -->
<header id="header">
    <div class="top-bar">

        <ul class="top-menu">
            <li><a ng-href="contacto" data-toggle="modal" data-target="#">CONTACTO</a></li>
            <li><a class="btn-servOnline" href="http://privada.solp.org.ar/" target="_blank"><i class="fa fa-desktop" aria-hidden="true"></i>SERVICIOS ON LINE</a></li>
        </ul>
        <div class="social">
            <ul class="social-share">
                <li><a href="https://www.facebook.com/solp.laplata/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/sociedad.odontologica.lp/?hl=es-la" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <!--/.container-->
    </div><!--/.top-bar-->
    <nav class="navbar navbar-expand-xl navbar-light bg-gradient">
        <div class="container-fluid">
            <a class="navbar-brand" ng-href="/">
                <img src="images/solp.png" alt="Sociedad Odontológica de La Plata">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" ng-href="/" role="button">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Institución</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" ng-href="nosotros">Nosotros</a>
                            <a class="dropdown-item" ng-href="nuestras-instalaciones">Nuestras instalaciones</a>
                            <a class="dropdown-item" ng-href="autoridades">Autoridades</a>
                            <a class="dropdown-item" ng-href="relaciones-institucionales">Relaciones Institucionales</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Socios</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" ng-href="beneficio-de-ser-socio">Beneficios de ser socio</a>
                          <!--   <a class="dropdown-item" ng-href="requisitos-de-inscripcion">Requisitos de inscripción</a>
                            <a class="dropdown-item" ng-href="info-recien-graduado">Info recién graduado</a> -->
                            <a class="dropdown-item" ng-href="categoria-de-socios">Categorías de socios</a>
                            <a class="dropdown-item" ng-href="socios-en-la-provincia">Socios en la provincia</a>
                            <a class="dropdown-item" href="http://privada.solp.org.ar/" target="_blank">Servicios Online</a>
                            <a class="dropdown-item" ng-href="coworking">Coworking</a>
                            <a class="dropdown-item" ng-href="comision-joven">Comisión Joven</a>
                            <a class="dropdown-item" ng-href="comision-vitalicios">Comisión Vitalicios</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gremial</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" ng-href="gestion-con-os">Gestión con OS</a>
                            <a class="dropdown-item" ng-href="convenios-con-os">Convenios con OS</a>
                            <a class="dropdown-item" ng-href="gremial/novedades">Novedades</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Educativa</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" ng-href="facultad">Facultad</a>
                            <a class="dropdown-item" ng-href="escuela-graduados">Escuela para Graduados</a>
                            <a class="dropdown-item" ng-href="guardia-odontologica">(SEGU) Beca de Formación</a>
                            <a class="dropdown-item" ng-href="ides">IDES</a>
                            <a class="dropdown-item" ng-href="revista-cientifica">Revista Científica</a>
                            <a class="dropdown-item" ng-href="biblioteca">Biblioteca</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Área Cultural</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" ng-href="cultura">Cultura</a>
                            <a class="dropdown-item" ng-href="boletin">Boletín</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-href="accion-solidaria" role="button">Acción Solidaria</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Fin Header -->
