<!-- Section Slider -->
<section class="cabecera-seccion-gral cabecera-ides">
    <div class="row">
        <div class="banda banda-facultad">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Ides</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Slider -->

<!-- Ocultar-->
<!-- Section Noticia -->
<!--<section id="">
    <div class="container">
        <div class="row" id="breadcrumb">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="#">Educativa</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="#">Ides</a></li>
                    </ol>

                </nav> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 box-noticia">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" ng-href="ides" ng-class="{active: tab == 'inicio'}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ng-href="ides/autoridades" ng-class="{active: tab == 'autoridades'}">Autoridades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ng-href="ides/docentes" ng-class="{active: tab == 'docentes'}">Docentes</a>
                            </li>
                       
                            <li class="nav-item">
                                <a class="nav-link" ng-href="ides/curso-protesico-dental" ng-class="{active: tab == 'curso-protesico-dental'}">Curso protésico dental</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ng-href="ides/requisitos-de-inscripcion" ng-class="{active: tab == 'requisitos-de-inscripcion'}">Requisitos de inscripción</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div ng-if="tab == 'inicio'" ng-include="'views/ides/inicio.html'"></div>
                        <div ng-if="tab == 'autoridades'" ng-include="'views/ides/autoridades.html'"></div>
                        <div ng-if="tab == 'docentes'" ng-include="'views/ides/docentes.html'"></div>
                        <div ng-if="tab == 'cursos-de-perfeccionamiento'" ng-include="'views/ides/cursos-de-perfeccionamiento.html'"></div>
                        <div ng-if="tab == 'curso-protesico-dental'" ng-include="'views/ides/curso-protesico-dental.html'"></div>
                        <div ng-if="tab == 'requisitos-de-inscripcion'" ng-include="'views/ides/requisitos-de-inscripcion.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
