<div class="row">
    <div class="col-md-12">
        <h3>Nuestra Comisión</h3>
        <p>Esta Comisión fue creada con el objetivo que los socios más jóvenes de SOLP participen más activamente en su institución, intercambiando opiniones, dejando sugerencias o preocupaciones que son planteadas en diferentes encuentros que se suceden durante el año.</p>
        <p>Brindamos asesoramiento y acompañamiento en sus primeros pasos como socios, entendiendo que es algo totalmente novedoso para ellos. </p>
        <p>Asimismo como consideramos que despejar un poco la cabeza y compartir momentos de distracción entre colegas y amigos es parte fundamental de nuestra vida, organizamos diferentes cursos muy entretenidos y con gran convocatoria que son plasmados en el calendario de esta página.</p>
        <p>Si querés contactanos por mail a <a href="mailto:info@solp.org.ar">info@solp.org.ar</a> o a través del Área de Atención al socio. </p>
        <h4>Bienvenido!</h4>
        <hr class="mb-4">
    </div>
</div>
