<!-- Section Cabecera -->
<section class="cabecera-seccion-gral cabecera-institucional">
    <div class="row">
        <div class="banda banda-cultura">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Área Cultural</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Cabecera -->

<!-- Section Noticia -->
<section class="interior">
    <div class="container">
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Boletín</h2>
            </div>
        </div>

        <!-- Boletines año 2017 -->
        <div class="row mb-4">
            <div class="col-md-12">
                <h3>Año 2017</h3>
            </div>
            <div class="col-md-2">
                <h4>Boletin 137</h4>
                <a href="http://www.solp.org.ar/uploads/publicaciones/pdfs/boletin137.pdf" target="_blank">
                    <img class="img-fluid" src="images/boletines/boletin137.jpg" alt="boletin 137">
                </a>
                <p>Diciembre 2017</p>
            </div>
            <div class="col-md-2">
                <h4>Boletin 136</h4>
                <a href="http://www.solp.org.ar/uploads/publicaciones/pdfs/Boletin136.pdf" target="_blank">
                    <img class="img-fluid" src="images/boletines/boletin136.jpg" alt="boletin 136">
                </a>
                <p>Septiembre 2017</p>
            </div>
            <div class="col-md-2">
                <h4>Boletin 135</h4>
                <a href="http://www.solp.org.ar/uploads/publicaciones/pdfs/boletin135.pdf" target="_blank">
                    <img class="img-fluid" src="images/boletines/boletin135.jpg" alt="boletin 135">
                </a>
                <p>Mayo 2017</p>
            </div>
        </div>
        <!-- Boletines año 2016 -->
        <div class="row mb-4">
            <div class="col-md-12">
                <h3>Año 2016</h3>
            </div>
            <div class="col-md-2">
                <h4>Boletin 133</h4>
                <a href="http://www.solp.org.ar/uploads/publicaciones/pdfs/BOLETIN133.pdf" target="_blank">
                    <img class="img-fluid" src="images/boletines/boletin133.jpg" alt="boletin 133">
                </a>
                <p>Agosto 2016</p>
            </div>
            <div class="col-md-2">
                <h4>Boletin 132</h4>
                <a href="http://www.solp.org.ar/uploads/publicaciones/pdfs/boletin132.pdf" target="_blank">
                    <img class="img-fluid" src="images/boletines/boletin132.jpg" alt="boletin 132">
                </a>
                <p>Abril 2016</p>
            </div>
        </div>
        <!-- Boletines año 2015 -->
        <div class="row mb-4">
            <div class="col-md-12">
                <h3>Año 2016</h3>
            </div>
            <div class="col-md-2">
                <h4>Boletin 131</h4>
                <a href="http://www.solp.org.ar/uploads/publicaciones/pdfs/boletin131.pdf" target="_blank">
                    <img class="img-fluid" src="images/boletines/boletin131.jpg" alt="boletin 131">
                </a>
                <p>Octubre 2015</p>
            </div>
        </div>

            
        </div>
    </div>
</section>

