<!-- Section Slider -->
<section class="cabecera-seccion-gral cabecera-postgrado">
    <div class="row">
        <!-- SLide de textos -->
        <div class="slide-info-graduados">
          <data-owl-carousel ng-if="!!vm.slides" class="owl-carousel owl-theme galeria-basica galeria-txt-graduado" data-options="vm.owlCarouselOptions">
            <div owl-carousel-item="" ng-repeat="slide in vm.slides" class="item">
              <div class="slide-info-txt">
                  <h2>{{slide.title}}</h2>
                  <p ng-bind-html="vm.getHtml(slide.body)"></p>
              </div>
            </div>
          </data-owl-carousel>
        </div>
<!-- SLide de textos -->
        <div class="banda banda-graduados">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Escuela para Graduados</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Slider -->

<!-- Section Noticia -->
<section class="interior">
    <div class="container">
        <div class="row" id="breadcrumb">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="#">Educativa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Escuela para Graduados</li>
                    </ol>

                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <ul class="nav flex-column menu-lateral">
                            <li class="nav-item">
                                <a class="nav-link" ng-href="escuela-graduados/cursos" ng-class="{active: tab == 'cursos'}">Cursos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ng-href="escuela-graduados/novedades" ng-class="{active: tab == 'inicio'}">Novedades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="descargas/graduados/PLANILLA_EPG.pdf" download="planilla.pdf">Planilla de Inscripción</a>
                            </li>
                            <li class="nav-item">
                                <!-- <a class="nav-link" ng-href="escuela-graduados/reglamento" ng-class="{active: tab == 'reglamento'}">Reglamento</a> -->
                                <a class="nav-link" target="_blank" href="descargas/graduados/Apartado_reglamentoEC.pdf" download="Apartado_reglamentoEC.pdf">Reglamento</a>

                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" ng-href="escuela-graduados/eventos">Eventos</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" ng-href="escuela-graduados/autoridades" ng-class="{active: tab == 'autoridades'}">Autoridades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ng-href="escuela-graduados/contacto" ng-class="{active: tab == 'contacto'}">Contacto</a>
                            </li>
                        </ul>
                        <!-- <img class="img-fluid" src="images/novedad-1.jpg" alt=""> -->
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-10">
                      <div ng-if="tab == 'inicio'" ng-include="'views/educativa/escuela-graduados/inicio.html'"></div>
                      <div ng-if="tab == 'cursos'" ng-include="'views/educativa/escuela-graduados/portada-cursos.html'"></div>
                      <div ng-if="tab == 'autoridades'" ng-include="'views/educativa/escuela-graduados/autoridades.html'"></div>
                      <div ng-if="tab == 'reglamento'" ng-include="'views/educativa/escuela-graduados/reglamento.html'"></div>
                      <div ng-if="tab == 'contacto'" ng-include="'views/educativa/escuela-graduados/contacto.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
