<!-- Section Cabecera -->
<section class="cabecera-seccion-gral cabecera-gremial">
    <div class="row">
        <div class="banda banda-gremial">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Gremial</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Cabecera -->

<!-- Section-->
<section class="interior">
    <div class="container">
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Convenios con OS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <h3>Listado de Obras Sociales</h3>
                
                <h4>ALIANZA MEDITERRANEA DE SALUD S.A.</h4>
                <p>Alianza Mediterranea de Salud S.A.</p>

                <h4>AMCABI</h4>
                <p>Asociación Mutual Comunidad Abierta</p>

                <h4>AMEPBA</h4>
                <p>Asociación Mutual Empleados Bancarios de la Provincia de Buenos Aires</p>

                <h4>AMFFA</h4>
                <p>Asociación Mutual Farmacéutica Florentino Ameghino</p>

                <h4>APM</h4>
                <p>Obra Social de Agentes de Propaganda Médica</p>

                <h4>APSOT</h4>
                <p>Asociación Personal Superior de la Organización Techint</p>

                <h4>ASI-OSPEJANA</h4>
                <p>ASI-OSPEJANA</p>

                <h4>ASOCIACION ECLESIASTICA SAN PEDRO </h4>
                <p>Clero</p>

                <h4>ASOCIACIÓN MUTUAL SANCOR SALUD</h4>
                <p>Asociación Mutual SANCOR SALUD</p>

                <h4>BANCO DE LA PAMPA</h4>
                <p>Mutualidad del Personal del Banco de La Pampa</p>

                <h4>CAJA DE ESCRIBANOS</h4>
                <p>Escribanos de la Provincia de Buenos Aires</p>

                <h4>CASA</h4>
                <p>Caja de Abogados</p>

                <h4>CERAMISTAS</h4>
                <p>Obra Social de Ceramistas</p>

                <h4>CIMA</h4>
                <p>Cobertura Integral de Medicina Asistencial</p>

                <h4>COBERTEC SALUD</h4>
                <p>COBERTEC SALUD</p>

                <h4>COMEI </h4>
                <p>Fundación Co.Me.I. Caja de Odontólogos</p>

                <h4>COMPAÑIA MEDITERRANEA DE SALUD </h4>
                <p>Compañía Mediterránea de Salud</p>

                <h4>DASU </h4>
                <p>Obra Social de Universidad de la Patagonia</p>

                <h4>DASUTEN</h4>
                <p>Dirección de Acción Social de la Universidad Tecnológica Nacional</p>

                <h4>DOCTORED </h4>
                <p>DOCTORED </p>

                <h4>ENSALUD-OSTEL</h4>
                <p>ENSALUD-OSTEL</p>

                <h4>GALENO LIFE</h4>
                <p>GALENO LIFE</p>

                <h4>HOPE</h4>
                <p>Obra Social del Personal de Dirección de Perfumería</p>

                <h4>IOMA</h4>
                <p>Instituto de Obra Médico Asistencial</p>

                <h4>IOSFA</h4>
                <p>Instituto Obra Social de las Fuerzas Armadas</p>

                <h4>JERARQUICOS SALUD</h4>
                <p>JERARQUICOS SALUD</p>

                <h4>MAPFRE</h4>
                <p>MAPFRE</p>

                <h4>MEDICUS</h4>
                <p>MEDICUS</p>

                <h4>MEDIFE</h4>
                <p>MEDIFE Asoc. Civil</p>

                <h4>MITA</h4>
                <p>Mutual Industrias Textiles Argentinas</p>

                <h4>MUTUAL FEDERADA 25 DE JUNIO</h4>
                <p>Mutual Federada 25 de Junio</p>

                <h4>OS DEL PERSONAL DE CARGA Y DESCARGA</h4>
                <p>Obra Social del Personal de Carga y Descarga</p>

                <h4>OMINT</h4>
                <p>OMINT</p>

                <h4>OSALARA</h4>
                <p>Obra Social de Agentes de Lotería y Afines</p>

                <h4>OSAM </h4>
                <p>Obra Social de la Actividad Minera</p>

                <h4>OSAP SIDERAR </h4>
                <p>Aceros Paraná</p>

                <h4>OSARPYH </h4>
                <p>Obra Social Alfajoreros, Reposteros, Pizzeros y Heladeros</p>

                <h4>OSBA</h4>
                <p>Obra Social Bancaria Argentina</p>

                <h4>OSDE</h4> 
                <p>Obra Social de Ejecutivos de Empresas</p>

                <h4>OSDOP</h4>
                <p>Obra Social de Docentes Privados</p>

                <h4>OSEMM</h4>
                <p>Obra Social de Personal de la Marina Mercante</p>

                <h4>OSFATLYF</h4>
                <p>Obra Social de la Federación Argentina de Luz y Fuerza</p>

                <h4>OSFE</h4>
                <p>Obra Social Ferroviaria</p>

                <h4>OSMISS</h4>
                <p>Obra Social de Ministros, Sec. y Subsec. Nación</p>

                <h4>OSPAGA</h4>
                <p>Obra Social de Personal de Aguas Gaseosas y Afines</p>

                <h4>OSPATCA</h4>
                <p>Obra Social de Personal Administrativo y Técnico</p>

                <h4>OSPE</h4>
                <p>Obra Social de Petroleros</p>

                <h4>OSPECA</h4>
                <p>Obra Social del Personal del Caucho</p>

                <h4>OSPEP</h4>
                <p>Obra Social de Panaderos</p>

                <h4>OSPF</h4>
                <p>Obra Social de Personal de Farmacia</p>

                <h4>OSPICAL</h4>
                <p>Obra Social de Calzado</p>

                <h4>OSPIL</h4>
                <p>Obra Social Personal Industria Lechera</p>

                <h4>OSPIT</h4>
                <p>Obra Social del Personal de la Industria Textil</p>

                <h4>OSPJERA</h4>
                <p>Obra Social personal Jerárquico</p>

                <h4>OSPLA</h4>
                <p>Obra Social para Pilotos de Líneas Aéreas</p>

                <h4>OSPLAD</h4>
                <p>Obra Social de los Docentes</p>

                <h4>OSPOCE</h4>
                <p>OSPOCE</p>

                <h4>OSPPRA</h4>
                <p>Obra Social del Personal de Prensa De la República Argentina</p>

                <h4>OSTEE</h4>
                <p>Obra Social de los Trabajadores de las Empresas Electricidad</p>

                <h4>OSVARA</h4>
                <p>Obra Social de Vendedores Ambulantes</p>

                <h4>PEQUEÑA FAMILIA</h4>
                <p>PEQUEÑA FAMILIA</p>

                <h4>PODER JUDICIAL DE LA NACION OBRA SOCIAL</h4>
                <p>PODER JUDICIAL DE LA NACION OBRA SOCIAL</p>

                <h4>PRIMEDIC SALUD</h4>
                <p>PRIMEDIC SALUD</p>

                <h4>PRIVAMED</h4>
                <p>PRIVAMED</p>

                <h4>RAS</h4>
                <p>Red Argentina de Salud</p>

                <h4>SADAIC</h4>
                <p>Sociedad Argentina de Artistas y Compositores</p>

                <h4>SCIS MEDICINA PRIVADA</h4>
                <p>SCIS MEDICINA PRIVADA</p>

                <h4>SPM</h4>
                <p>Servicios y Prestaciones Médicas SA</p>

                <h4>SOL</h4>
                <p>SOL</p>

                <h4>SOMU</h4>
                <p>Sindicato de Obreros Marítimos Unidos</p>

                <h4>SWISS MEDICAL</h4>
                <p>SWISS MEDICAL</p>

                <h4>TV SALUD</h4>
                <p>Obra Social de Personal de Televisión</p>

                <h4>TECHINT/FSST</h4>
                <p>TECHINT/FSST</p>

                <h4>UNLP</h4>
                <p>Dirección de Servicios Sociales de la Universidad de La Plata</p>

                <h4>UP OPAM</h4>
                <p>UP OPAM</p>

                <h4>VIA SANO SALUD</h4>
                <p>VIA SANO SALUD</p>
            </div>
        </div>
    </div>
</section>
