<!-- Section Cabecera -->
<section class="cabecera-seccion-gral cabecera-gremial">
    <div class="row">
        <div class="banda banda-gremial">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Gremial</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Cabecera -->

<!-- Section -->
<section class="interior">
    <div class="container">
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Gestión con Obras Sociales</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                      <h3>Auditoría</h3>

                      <p>Esta área cumple una función primordial en todo lo referente a la marcha de cualquier sistema prestacional, ya que es la que detecta cualquier tipo de desvío, como así también la necesidad de modificar, confeccionar o eliminar, normas de trabajo. Está representada por auditores de larga trayectoria y alta exigencia que aseguran el buen resultado de su gestión, dispuestos a evacuar las dudas que pueda tener el socio así como a hacer mas dinámico y actualizado el nomenclador.</p>

                      <h4>Puntualizando las actividades de la misma, cabe mencionar las siguientes funciones:</h4>

                      <h5>AUDITORÍA</h5>
                      <p>Administrativa</br>
                      En terreno</br>
                      Técnica</br>
                      Situacional</p>

                      <h5>CONTROLES DE SISTEMA</h5>
                      <p>Estadística</br>
                      Desvío</br>
                      Medidas </br>
                      Prestacionales</p>

                      <h5>CURSOS DE CAPACITACIÓN</h5>
                      <p>Para auditores</p>

                      <h5>PROPUESTAS</h5>
                      <p>Dependiendo directamente de la parte gremial, existe una Subcomisión que es la encargada de todo lo referente a obras sociales, mutuales, prepagas, etc. Su función es lograr convenios, mejorar los ya existentes y ofrecer el resto de nuestros servicios. Para todo esto la Subcomisión de Convenios desarrolla su actividad, tomando contacto en forma directa con entidades oficiales o privadas, que tengan su ámbito geográfico en la Provincia de Buenos Aires y Capital</p>

                      <h4>Servicios ofrecidos a Obras Sociales, Mutuales, Empresas de Medicina Pre-Paga, ETC. </h4>
                      <ul class="lista mb-4">
                          <li>Auditoría en terreno</li>
                          <li>Auditoría Administrativa.</li>
                          <li>Auditoría Técnica.</li>
                          <li>Auditoría Situacional.</li>
                          <li>Control de Sistema.</li>
                          <li>Estadística de Funcionamiento de Sistema.</li>
                          <li>Planes de Prevención.</li>
                          <li>Capacitación de Auditores.</li>
                          <li>Asesoramiento Legal.</li>
                          <li>Servicios de guardia nocturna.</li>
                          <li>Gerenciamiento del sistema total o parcial.</li>
                      </ul>

                      <h3>Convenios Prestacionales</h3>
                      <table class="table table-bordered tabla-convenios-prestacionales">
                        <thead>
                          <tr>
                            <th class="text-center destacado" scope="col" colspan="4">TIPOS DE CONVENIO SEGÚN PAGO</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-center">Por prestación</td>
                            <td class="text-center">Capitado</td>
                            <td class="text-center">Cartera fija</td>
                            <td class="text-center">Reintegros</td>
                          </tr>
                        </tbody>
                      </table>

                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th class="text-center destacado" scope="col" colspan="7">TIPOS DE CONVENIO SEGÚN NOMENCLATURA</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-center">Reducido</td>
                            <td class="text-center">Básico</td>
                            <td class="text-center">Completo</td>
                            <td class="text-center">Con Prótesis</td>
                            <td class="text-center">Con Ortodoncia</td>
                            <td class="text-center">Con Prótesis y Ortodoncia</td>
                            <td class="text-center">Implantes</td>
                          </tr>
                        </tbody>
                      </table>
                      <hp>Las normas y aranceles serán pactados según tipo de convenio a firmar.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
