<!-- Section Cabecera -->
<section class="cabecera-seccion-gral cabecera-gremial">
    <div class="row">
        <div class="banda banda-gremial">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Gremial</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Cabecera -->

<!-- Section-->
<section class="interior">
    <div class="container">
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Novedades</h2>
            </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <!-- Contenido -->
          </div>
        </div>
    </div>
</section>
