<div class="row">
  <div class="col-md-12">
      <h3>Nuestra misión</h3>
      <p>Con la certeza de que la cultura es el puente para el fortalecimiento de los valores, normas y signos, que la sociedad necesita para constituirse desde lo espiritual, solidario, estético, la tolerancia, la libertad, en la perspectiva de construcción de una convivencia sana y democrática, somos parte de ella mediante nuestra Área de Cultura, que desde su creación ha desarrollado gran cantidad de actividades de lo más variadas. Gracias al apoyo de un grupo desinteresado de artistas y de un público estable hemos logrado adquirir identidad en el ámbito cultural de la ciudad.</p>

      <hr class="mb-4">
  </div>
</div>
