<!-- Abre Titulo -->
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Contáctenos desde el Interior</h2>
            </div>
        </div>

        <!-- Abre Contenido -->        
        <div class="row">
            <div class="col-md-12 mb-4">

                <p>A través del teléfono: <strong>0221 422-7471</strong> (interno 224</p>
                <p>WhatsApp <strong>221-585-8407</strong></p>
                <p><i class="fa fa-envelope destacado"></i> <a href="mailto:interior@solp.org.ar">interior@solp.org.ar</a></p>

                <h3>Autoridades</h3>

                <p>Dr. Zaparart Carlos<br>
                Dr. Mazzuca Maximiliano<br>
                Dr. Centurelli Raúl</p>
            </div>
			
			<div class="col-md-12">
				<div class="row">
					<!-- Block médico con foto -->
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-3">
								<img class="img-fluid" src="images/socios/socios-provincia/abitbol.jpg" alt="Dra. Reingerborn, Gladis">
							</div>
							<div class="col-md-9">
								<h6>DISTRITO V</h6>
								<p><strong>Dra. Reingerborn, Gladis</strong><br>
								<a href="mailto:glareigen@yahoo.com.ar">glareigen@yahoo.com.ar</a></p>
							</div>
						</div>
					</div>
					<!-- cierra box -->
				</div>	
			</div>

        </div>

                