<div class="row">
    <div class="col-md-6 text-center">
        <img src="images/mapa-solp-en-la-provincia.jpg" alt="Socios SOLP en la Provincia de Buenos Aires">
    </div>
    <div class="col-md-6">

        <h6>SOLP</h6>
        <p>Contactanos desde el interior a través del <strong>0800-666-0941</strong><br>
        o al teléfono: <strong>0221 422-7471</strong> (interno 224).<br>
        WhatsApp <strong>221-585-8407</strong><br>

        <i class="fa fa-envelope destacado"></i> <a href="mailto:interior@solp.org.ar">interior@solp.org.ar</a></p>

        <h6>Autoridades</h6>

        <p>Dr. Zaparart Carlos<br>
        Dr. Mazzuca Maximiliano<br>
        Dr. Salvioli Esteban<br>
        Dr. Centurelli Raul</p>

    </div>
</div>
