<!-- Section Cabecera -->
<section class="cabecera-seccion-gral cabecera-socios">
    <div class="row">
        <div class="banda banda-institucional">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Socios</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Cabecera -->


<!-- Section Contenido -->
<section class="interior autoridades">
    <div class="container">

        <!-- Abre Titulo -->
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Beneficios de ser Socio</h2>
            </div>
        </div>

        <!-- Abre Contenido -->        
        <div class="row">
            <div class="col-md-12">
                <h4>Siendo socio podés acceder a todos estos servicios y beneficios:</h4>
                <ul class="lista lista-beneficios">
                    <li>
                        <p>Trabajar por la seguridad Social.<br>
                        A través de la SOLP tenés acceso a trabajar con más de 80 Obras Sociales con las cuales la Institución tiene convenios.</p>
                    </li>
                    <li>
                        <p>Co Working (alquiler de consultorio por hora)</p>
                        <p>Te brindamos la posibilidad de alquilar a muy bajo costo por hora, nuestro consultorio, utilizando las instalaciones y equipos (solo necesitás traer tu material). Este es un servicio para colegas que no poseen un consultorio declarado en la región de La Plata. <a ng-href="guardia-odontologica/coworking">Ver más información</a></p>
                        
                    </li>
                    <li>
                        <p>Descuento en los cursos de postgrado</p>
                        <p>Contamos con la Escuela para Graduados, donde por el solo hecho de ser socio podés acceder a diferentes descuentos para seguir capacitándote.</p>
                    </li>
                    <li>Becas parciales para los hijos de socios en las diferentes unidades educativas</li>
                    <li>Asesoramiento legal</li>
                    <li>Asesoramiento contable</li>
                    <li>Asesoramiento profesional odontológico</li>
                    <li>Servicios turísticos</li>
                    <li>Importantes descuentos en insumos, con promociones específicas y mensuales.</li>
                    <li>
                        <a data-toggle="collapse" href="#areaQuirurgica" role="button" aria-expanded="false" aria-controls="areaQuirurgica">Alquiler de área quirúrgica</a>
                        <div class="collapse" id="areaQuirurgica">
                          <div class="card card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Área Quirúrgica</h3>
                                    <p>La Sociedad Odontológica cuenta con un área quirúrgica de avanzada, equipada con la tecnología de la especialidad y con dos quirófanos completamente equipados para el desarrollo de cursos de cirugía e implantología y de enseñanza para el grado, presenta además sillones equipados, área de rayos, esterilización, vestuarios para el paciente y para los profesionales circuito cerrado de tele conferencias e instrumental requerido para el desarrollo de las practicas señaladas.</p>
                                    <img src="images/quirurgica1.jpg" alt="Área Quirúrgica">
                                    <img src="images/quirurgica2.jpg" alt="Área Quirúrgica">
                                </div>
                            </div>
                          </div>
                        </div>
                    </li>
                    <li>
                        <p>Alquiler de Salón para eventos a precio especial para socios</p>
                        <p>Contamos con el hermoso Salón Las Manos en el 11vo piso, con capacidad para 120 personas.</p>
                    </li>
                    <li>
                        <p>Descuento en la recolección de residuos patogénicos</p>
                        <p>Contratando el servicio de Recolección de residuos a través de nuestra entidad, que puede realizar su contratación y gestión a través de nuestra web, cuenta con importantes descuentos. </p>
                    </li>
                    <li>Descuento en la contratación de seguro de Responsabilidad Profesional.</li>
                    <li><a ng-href="biblioteca" target="_blank">Utilización gratuita de la biblioteca</a></li>
                    <li><a ng-href="guardia-odontologica" target="_blank">Utilización del servicio de guardia para sus pacientes</a></li>
                    <li><a data-toggle="collapse" href="#subsidios" role="button" aria-expanded="false" aria-controls="subsidios">Subsidios</a>
                        <div class="collapse" id="subsidios">
                          <div class="card card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Fondo solidario</h3>
                                    <h4>Subsidios que otorga la Solp</h4>
                                    <p>Por el solo hecho de ser prestador de la seguridad social, usted tiene acceso a una infinidad de beneficios que son de extraordinaria importancia en el accionar solidario y colectivo que tiene la entidad, lo que permite inferir que en este aspecto es única en su tipo.</p>
                                    <p>El eje central del accionar de la SOLP se refleja en la consigna “Somos más para lograr mejores beneficios para el socio”, esa es la filosofía que nutre a esta gestión, lograr estar presente cuando y donde el socio más lo necesita.</p>
                                    <p>Es por eso que los subsidios, si bien no serían una responsabilidad directa de la entidad, que es una asociación civil sin fines de lucro, se transformaron por la convicción de esta gestión en un valor fundamental a defender por la importancia que tiene en los tiempos que corren.</p>
                                    
                                    <h4>Subsidios generales</h4>
                                        <ul>
                                            <li>De ayuda escolar</li>
                                            <li>Por enfermedad</li>
                                            <li>Por hijo Menor con capacidades especiales (menor a 18 años)</li>
                                            <li>Por hijo Adulto con capacidades especiales (mayor a 18 años)</li>
                                            <li>Por casamiento</li>
                                            <li>Por nacimiento de hijo</li>
                                            <li>Por adopción de hijo</li>
                                            <li>Por maternidad</li>
                                            <li>Por fallecimiento.</li>
                                        </ul>

                                    <h4>Respaldo económico al Socio</h4>
                                        <ul>
                                            <li>Quebranto de obras sociales</li>
                                            <li>Respaldo económico p.m.d</li>
                                        </ul>

                                    <h4>Compensación al Socio</h4>
                                        <ul>
                                            <li>Asistencial (socio prestador vitalicio continúo)</li>
                                            <li>Por Retiro Jubilatorio (socio jubilado)</li>
                                        </ul>

                                    <p>Para solicitar un subsidio, acceda al formulario ingresando a la Solapa de Fondo Solidario a través del acceso restringido (Servicios On Line)</p>
                                </div>
                            </div>                            
                          </div>
                        </div></li>
                    <li><p>Utilización del BAPRO en la Sede Institucional</p>
                    <p>Este servicio es exclusivo para socios, contamos con un cupo diario al cual podrás acceder y ultilizar en el 3er piso de nuestra entidad.</p></li>
                    <li>Estacionamiento gratuito para la semana de facturación. Calle 12 N° 675 (Solicitá el ticket en Atención al socio). Válido 1 hora.</li>
                    <li>Utilización del Resto Bar (subsuelo)</li>
                </ul>
            </div>
        </div> 
    </div>
</section>