<!-- Section Cabecera -->
<section class="cabecera-seccion-gral cabecera-socios">
    <div class="row">
        <div class="banda banda-institucional">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Socios</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Cabecera -->


<!-- Section Contenido -->
<section class="interior autoridades">
    <div class="container">

        <!-- Abre Titulo -->
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Categoría de socios</h2>
            </div>
        </div>

        <!-- Abre Contenido -->        
        <div class="row">
            <div class="col-md-12">
               <p>La Sociedad Odontológica reconoce las siguientes categorías de socios:</p>
                <ul class="lista">
                    <li>Socios Activos (prestadores y no prestadores)</li>
                    <li>Socios Vitalicios (prestadores y no prestadores)</li>
                    <li>Socios Honorarios</li>
                </ul>

                <h5>Para ser socio activo se requiere:</h5>
                <ul class="lista">
                    <li>Ser Odontólogo, con título nacional y/o extranjero revalidado</li>
                    <li>Ser presentado por dos socios activos y aceptado por la Comisión Directiva, debiendo abonar al momento de la inscripción una cuota matrícula o de ingreso cuyo monto al igual que la fecha posible de inscripción será determinada anualmente por la Comisión Directiva</li>
                </ul>

                <p>La Comisión Directiva deberá promover a la categoría de Socio Vitalicio al socio Activo con más de 35 años de antigüedad. Gozarán de todos los beneficios de los activos, pudiendo ser eximidos de la cuota social.</p>
                <p>El título de Socio Honorario sólo puede conferirse por asamblea ordinaria o extraordinaria y por los dos tercios de los presentes a personas que se hayan destacado por su labor científica o personal o por cualquier obra a favor de la Odontología y la Salud sean estos argentinos o extranjeros. Todo candidato a socio honorario será propuesto a la asamblea por la Comisión Directiva.</p>
                <p>Para ser aceptada la renuncia de un socio solamente deberá estar al día con la Tesorería y la biblioteca.</p>
                <p>Un socio puede ser declarado cesante por mora, por una pena infamante impuesta en algún Tribunal de la República o cuando fuera sancionado por faltas éticas o similares por el Colegio de odontólogos o entidad semejante.</p>
                
            </div>
        </div>   
       
    </div>
</section>
