<!-- Section Cabecera -->
<section class="cabecera-seccion-gral cabecera-socios">
    <div class="row">
        <div class="banda banda-institucional">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Socios</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Cabecera -->

<section class="interior">
    <div class="container">
        <div class="row" id="breadcrumb">
            <div class="col-md-12 tituloSeccion">
                <h2>Coworking</h2>
            </div>
        </div>
                <div class="row">
            <div class="col-md-12">
              <h2>Nuevo espacio de Coworking</h2>

              <p>Tendiente a brindar un nuevo servicio a nuestros socios prestadores, posibilitando la utilización de parte de nuestra infraestructura y capacidad instalada específica del SEGU, implementamos el alquiler temporal y parcial del consultorio nuevo para uso profesional.</p>

              <p>Podrán solicitar el uso de unidad odontológica aquellos socios que al momento de la solicitud no posean consultorio odontológico declarado en la zona geográfica de nuestra sede, sean prestadores estén al día en cuota social y posean una antigüedad mínima de 3 (tres) meses. El alquiler de la unidad dental será temporario, pudiendo disponer el profesional del mismo un máximo de 2 (dos) años.</p>

              <p>El odontólogo/a deberá contar con su instrumental rotatorio y el necesario para su práctica diaria, como así también los materiales a utilizar; salvo el instrumental de cirugía y juegos clínicos, los cuales podrá solicitar en la clínica de facultad.</p>

              <div class="row">
                  <div class="col-sm-12 col-md-8 offset-md-2"><!-- Galería de imágenes -->
                      <div class="owl-carousel owl-theme galeria-basica">
                          <div class="item"><img src="images/ampliadas/segu2-1.jpg" alt="Coworking SOLP"></div>
                          <div class="item"><img src="images/ampliadas/segu2-2.jpg" alt="Coworking SOLP"></div>
                          <div class="item"><img src="images/ampliadas/segu2-3.jpg" alt="Coworking SOLP"></div>
                          <div class="item"><img src="images/ampliadas/segu2-4.jpg" alt="Coworking SOLP"></div>
                      </div>
                      <script type="text/javascript">
                          $('.galeria-basica').owlCarousel({
                              loop:true,
                              responsive:{
                                  0:{
                                      items:1
                                  }
                              }
                          })
                      </script>
                  </div><!-- cierra galería -->
              </div>

              <p>Los días y horarios de alquiler podrán ser de:</p>
              <p><i class="fa fa-clock-o" aria-hidden="true"></i> Lunes a viernes entre las 9 hs y las 18 hs.</p>
              <p>Pudiendo alquilar un mínimo de 4hs. y un máximo de 9 hs diarias. </p>

              <h4>Para mas información escribinos a:</h4>
              <p><i class="fa fa-envelope destacado"></i> <a href="mailto:segu@solp.org.ar">segu@solp.org.ar</a></p>
              <p>o llamanos al <strong>(0221) 422-7471 interno 204</strong></p>


            </div>
        </div>
    </div>
</section>
