<!-- Section Cabecera -->
<section class="cabecera-seccion-gral cabecera-socios">
    <div class="row">
        <div class="banda banda-institucional">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Socios</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Cabecera -->

<!-- Section Noticia -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Información para el recién Graduado</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 box-noticia">
                <div class="row">
                    <div class="col-md-8">
                    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis accusamus quam, aut fugit, quasi incidunt sit nisi quidem itaque laborum distinctio praesentium, nemo laboriosam magnam in. Iure, sunt, consequuntur. Ea!</p>

                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
