<!-- Section Cabecera -->
<section class="cabecera-seccion-gral cabecera-socios">
    <div class="row">
        <div class="banda banda-institucional">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Servicios Online</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Cabecera -->


<!-- Section Contenido -->
<section class="interior autoridades">
    <div class="container">

        <!-- Abre Titulo -->
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Servicios Online</h2>
            </div>
        </div>

        <!-- Abre Contenido -->
        <div class="row">
            <div class="col-md-12">
                <p>Contamos con un servicio ágil y directo de información con nuestros socios.</p>
				<p>Con su <strong>usuario</strong> y <strong>clave</strong> pueden acceder a información general importante sobre novedades de Obras sociales, su facturación, estado de cuenta, etc. </p>
                <p>Asimismo pueden generar trámites y cargar la facturación de algunas Obras sociales directamente en línea entre otras cosas.</p>

				<p>Accede desde aquí: </p>
                <a class="btn btn-primary" href="http://privada.solp.org.ar" target="_blank"><i class="fa fa-laptop" aria-hidden="true"></i>
 Servicios ONLINE</a>
            </div>
        </div>
    </div>
</section>
