<div class="row">
	<div class="col-md-12">
		<h2>Convenios</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12 mb-4">
		<p>A lo largo de estos 93 años, Sociedad Odontológica ha mantenido un fuerte vínculo  con instituciones de nuestro país, que han permitido desarrollar distintas actividades de índole educativas, gremiales y culturales.</p>
		<p class="mb-4">A continuación se listan los convenios de reciprocidad y específicos con diversas instituciones</p>
		<h3 class="mb-4">Convenios de reciprocidad y específicos con diversas instituciones</h3>
	
			<table class="table table-striped table-bordered">
				<!-- <thead>
				    <tr>
				      <th scope="col">Nombre de la entidad</th>
				      <th scope="col">Tema</th>
				    </tr>
				</thead> -->
				<tbody>
					<tr>
						<td><p>Alliance Française La Plata</p></td>
						<td><p>Acuerdo específico educativo</p></td>
					</tr>
					<tr>
						<td><p>ALAO (Academia Latinoamericana de Oseointegración)</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>AOM (Asociación Odontológica de Mar del Plata)</p></td>
						<td><p>Acta compromiso Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>AOM (Asociación Odontológica de Mar del Plata)</p></td>
						<td><p>Acuerdo Específico Educativo</p></td>
					</tr>
					<tr>
						<td><p>Asoc. Argentina de Ortopedia Funcional de los Maxilares</p></td>
						<td><p>Cooperación Científica </p></td>
					</tr>
					<tr>
						<td><p>Asociación Argentina de Ortopedia Funcional de los Maxilares</p></td>
						<td><p>Colaborac. mutua en activ. de interés común</p></td>
					</tr>
					<tr>
						<td><p>Asociacion de Padres y Amigos del Sordo (APAS)</p></td>
						<td><p>Convenio Marco de Colaboracion</p></td>
					</tr>
					<tr>
						<td><p>Asociación Odontológica de Olavarría</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Asociación Odontológica de Puerto Madryn</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Asociación Odontológica del Noroeste Santafesino</p></td>
						<td><p>Reciprocidad Institucional Educativo y Científico</p></td>
					</tr>
					<tr>
						<td><p>ASODIN (Institución Superior de Postgrados de Bogotá – Colombia)</p></td>
						<td><p>Convenio Marco de Colaboración</p></td>
					</tr>
					<tr>
						<td><p>Asociacion Platense de Basquet</p></td>
						<td><p>Convenio Marco de Colaboracion Institucional</p></td>
					</tr>
					<tr>
						<td><p>Asociacion Platense de Basquet</p></td>
						<td><p>Prestaciones Se Gu</p></td>
					</tr>
					<tr>
						<td><p>Ateneo Argentino de Odontología</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Círculo Argentino de Odontología</p></td>
						<td><p>Reciprocidad</p></td>
					</tr>
					<tr>
						<td><p>Círculo Odontológico de Bariloche</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Círculo Odontológico de Córdoba </p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Círculo Odontológico de General Roca – Río Negro</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Círculo Odontológico de Rosario</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Círculo Odontológico de San Juan</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Círculo Odontológico de San Luis</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Círculo Odontológico de Viedma</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Club Argentino de Servicios 2 de abril</p></td>
						<td><p>Rreciprocidad Educativa y Científica </p></td>
					</tr>
					<tr>
						<td><p>Club Estudiantes de La Plata</p></td>
						<td><p>Convenio de Colaboración Institucional</p></td>
					</tr>
					<tr>
						<td><p>Club Estudiantes de La Plata</p></td>
						<td><p>Prstaciones SEGU</p></td>
					</tr>
					<tr>
						<td><p>Club Gimnasia y Esgrima La Plata</p></td>
						<td><p>Convenio de colaboración Institucional</p></td>
					</tr>
					<tr>
						<td><p>Club Gimnasia y Esgrima La Plata</p></td>
						<td><p>Prestaciones SeGU</p></td>
					</tr>
					<tr>
						<td><p>Colegio de Odontólogos D. X</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Colegio de Odontólogos distrito IX</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Colegio de Odontólogos Distrito VI</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Colegio Odontólogos D. VIII</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>XX CIALACIBU (Congreso Internacional…)</p></td>
						<td><p>Reciprocidad para la formación continua profesional</p></td>
					</tr>
					<tr>
						<td><p>FAC. ODONTOLOGIA – UBA</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Facultad de Ciencias de la Salud de la Pcia. de Mendoza- Universidad de Mendoza</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Facultad de Ciencias Económicas de la UNLP</p></td>
						<td><p>Acuerdo Específico para proyectos conjuntos con  la Escuela de Economía de la Salud </p></td>
					</tr>
					<tr>
						<td><p>FACULTAD DE ODONTOLOGIA UCALP</p></td>
						<td><p>Convenio de Cooperación científica y académica</p></td>
					</tr>
					<tr>
						<td><p>Facultad de Odontología UNLP </p></td>
						<td><p>Colaboración Institucional</p></td>
					</tr>
					<tr>
						<td><p>Facultad Regional de La Plata UTN</p></td>
						<td><p>Programa de Cooperación y Asistencia Técnica recíproca</p>
							<p>Compartido con Facultad de Odontología UCALP-SOLP  </p></td>
					</tr>
					<tr>
						<td><p>FUCA (Fundación para la Investigación y Docencia contra el Cáncer)</p></td>
						<td><p>Colaboración Institucional</p></td>
					</tr>
					<tr>
						<td><p>FUDESO</p></td>
						<td><p>Convenio cooperación</p></td>
					</tr>
					<tr>
						<td><p>Fundación Fisurado Labio Palatino</p></td>
						<td><p>Colaboración Científica, académica y de investigación</p></td>
					</tr>
					<tr>
						<td><p>Fundación ISALUD</p></td>
						<td><p>Contrato de Copartici-pación</p></td>
					</tr>
					<tr>
						<td><p>Fundación ISALUD</p></td>
						<td><p>Específico de Docencia y Formación de RR.HH</p></td>
					</tr>
					<tr>
						<td><p>GENOMMA LABORATORIES MEXICO, S.S DE C.V. </p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Hospital “Elina de la Serna” de Montes de Oca</p></td>
						<td><p>Cooperación científica y Académica</p></td>
					</tr>
					<tr>
						<td><p>Hospital Zonal de Odontología Especializado en Odontopediatrìa  “Adolfo Bollini”</p></td>
						<td><p>Convenio Marco colaboración</p></td>
					</tr>
					<tr>
						<td><p>Hospital Zonal de Odontologìa Especializado en Odontopediatrìa  “Adolfo Bollini” </p></td>
						<td><p>Convenio marco de Colaboración</p>
						<p>Compartido con Facultad de Odontología UCALP-SOLP  </p></td>
					</tr>
					<tr>
						<td><p>IDES (Instituto de Enseñanza Superior  “Dr. Raúl Duyós”)</p></td>
						<td><p>Compartido con Facultad de Odontología UCALP-SOLP  </p></td>
					</tr>
					<tr>
						<td><p>INIFTA</p></td>
						<td><p>Acuerdo para Control de Biomateriales</p></td>
					</tr>
					<tr>
						<td><p>Instituto Secular de Schoenstatt Hermanas de María</p></td>
						<td><p>Por Servicios Comunita- rios en local del instituto</p>
						<p>Compartido con Facultad de Odontología UCALP-SOLP  </p></td>
					</tr>
					<tr>
						<td><p>Junta Arquidiocesana del Hogar Marín</p></td>
						<td><p>Colaboración Institucional</p></td>
					</tr>
					<tr>
						<td><p>LEMIT (Laboratorio de Entrenamiento Multidisciplinario para la Investigación  Tecnológica)</p></td>
						<td><p>Colaboración recíproca</p>
						<p>Compartido con Facultad de Odontología UCALP-SOLP  </p></td>
					</tr>
					<tr>
						<td><p>LEMIT (Laboratorio de entrenamiento Multidisciplinario para la Investigacion Tecnologica)</p></td>
						<td><p>Acuerdo de Cooperación y Asistencia Técnica Reciproca</p></td>
					</tr>
					<tr>
						<td><p>Ministerio de Justicia de la Provincia de Bs As Direccion Provincial de Salud Penitenciaria</p></td>
						<td><p>Acta acuerdo cooperación</p></td>
					</tr>
					<tr>
						<td><p>Municipalidad de Alberti</p></td>
						<td><p>Colaboración Institucional</p></td>
					</tr>
					<tr>
						<td><p>Municipalidad de Ensenada </p></td>
						<td><p>Acuerdo Específico de Cooperación</p><p>Compartido con Facultad Odontología UCALP-SOLP</p></td>
					</tr>
					<tr>
						<td><p>Municipalidad de La Plata</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Municipalidad de La Plata – Secretaria de Salud</p></td>
						<td><p>“Programa de salud bucal preescolar”</p></td>
					</tr>
					<tr>
						<td><p>Municipalidad de La Plata Foro de Trabajadores de Atención Primaria Pcia. Bs. As.</p></td>
						<td><p> Acta de Intención. Constitutir el Foro y  una Comisión Asesora permanente </p></td>
					</tr>
					<tr>
						<td><p>Municipalidad de La Plata para Liga Amateur Platense -</p></td>
						<td><p>Prestaciones SEGU</p></td>
					</tr>
					<tr>
						<td><p>Municipalidad de La Plata- Secretaria de Deportes</p></td>
						<td><p>SEGU y EPG para deportistas de alto rendimiento (programa de deportes)</p></td>
					</tr>
					<tr>
						<td><p>Municipalidad de Magdalena</p></td>
						<td><p>Colaboración Científica</p></td>
					</tr>
					<tr>
						<td><p>Secretaría de Ambiente y Desarrollo Sustentable de la Jefatura de Gabinete de Ministros de la Nación</p></td>
						<td><p>Carta de Intención para políticas en Medio Ambiente</p></td>
					</tr>
					<tr>
						<td><p>Sociedad Argentina de Ortodoncia</p></td>
						<td><p>Reciprocidad Educativa y Científica</p></td>
					</tr>
					<tr>
						<td><p>Sociedad Científica Argentina – 1872 UNIVERSIDAD MAIMONIDES </p></td>
						<td><p>Acuerdo Marco </p>
					</tr>
					<tr>
						<td><p>Sociedad Cubana de Estomatología</p></td>
						<td><p>Carta de intención. Colaboración docente y asistencial</p></td>
					</tr>
					<tr>
						<td><p>Sociedad Uruguaya de Endodoncia</p></td>
						<td><p>Convenio de colaboración Académica</p></td>
					</tr>
					<tr>
						<td><p>SOLP-EPG y UCALP</p></td>
						<td><p>Convenio de Colaboracion Intitucional</p><p>Compartido con EPG</p></td>
					</tr>
					<tr>
						<td><p>UCALP</p></td>
						<td><p>Convenio de Cooperación Científica</p></td>
					</tr>
					<tr>
						<td><p>UCALP</p></td>
						<td><p>Convenio para el otorgamiento de Becas de Estudio para PostGrado</p></td>
					</tr>
					<tr>
						<td><p>UCALP</p></td>
						<td><p>Convenio especifico carreras de postgrado</p></td>
					</tr>
					<tr>
						<td><p>UCALP</p></td>
						<td><p>Convenio de colaboración. Reconocimiento al convenio para la Carrera de Odntologia</p></td>
					</tr>
					<tr>
						<td><p>UCALP</p></td>
						<td><p>Protoloco carrera de postgrado en endodoncia</p></td>
					</tr>
					<tr>
						<td><p>Universidad Maimónides</p></td>
						<td><p>Cooperación Académica y Científica</p></td>
					</tr>
					<tr>
						<td><p>Universidad Nacional de La Plata</p></td>
						<td><p>Convenio de cooperación</p></td>
					</tr>
					<tr>
						<td><p>Universidad Nacional de La Plata (UNLP)</p></td>
						<td><p>Convenio de Cooperación</p></td>
					</tr>
				</tbody>
			</table>
	</div>
</div>
