<div class="row">
	<div class="col-md-12">
		<h2>Departamento de Prevención</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12 mb-4">
		<h3>Campaña de Lucha contra el Cáncer Bucal</h3>
		<p>Desde el Departamento de Promoción y Prevención de la Salud Bucal de Sociedad Odontológica de La Plata se realizó una campaña de lucha contra el cáncer bucal los días 4 y 5 de diciembre con un ciclo de conferencias no aranceladas el día 4 a cargo de especialistas jerarquizados en oncología junto a estomatólogos dictantes de la entidad. La acreditación se realizó a cambio de un alimento no perecedero, por tratarse de una jornada solidaria, donde lo recaudado será donado a la copa de leche que apadrina Sociedad Odontológica. El Dr. Pablo Dorattifue quien expuso en primera instancia sobre "Prevención en cáncer bucal: las enfermedades cancerizables o desordenes potencialmente malignos". Luego expuso el Dr. Javier Giménez sobre ¨Diagnostico del carcinoma bucal incipiente concluyó la jornada la Dra. Fabiana Marmissolle, médica especialista en oncología, junto a la inmunóloga Dra. Silvia Krasovec.</p>
		<p>El día martes 5 de diciembre, decretado Día Nacional De La LuchaContra El Cáncer Bucal de acuerdo al decreto presidencial 955/2016, la Sociedad Odontológica de La Plata a través de su servicio de guardiasy el servicio de admisión, fue uno de los centros de recepción en consultas oncológicas gratuitas y posterior derivación, actividad que se desarrolló conjuntamente con la Dirección de Programas de Salud Bucal de Ministerio de Salud de la Provincia de Buenos Aires.
		</p>

		<hr class="mb-4">

		<h3>Promoviendo hábitos saludables desde el jardín</h3>
		<p>El Departamento de promoción y prevención de SOLP ha concluido con la primera etapa del programa <strong>Jardín Libre de Caries</strong>, el cual se desarrolló en el Jardín de infantes del club Estudiantes de La Plata, de acuerdo al convenio firmado con dicha Institución. El mismo consistió en actividades de educación para la salud cuyos destinatarios fueron los184 niñosque asisten al jardín y su grupo de docentes.</p>
		<p>El ámbito utilizado fue el S.U.M. del jardín, donde mediante juegos, cuentos, charlas y proyección de película se brindó información, enseñanza de técnicas de higiene oral, pautas sobre una alimentación saludable, agrupando a las salitas en función del tipo de actividad y de acuerdo a la edad. Como cierre de esta etapa se entregaron certificados, cepillos dentales y folletos, animando la jornada ¨El ratón Pérez¨.</p>
		<p>Además continuando con las tareas realizadas con motivo de la semana de la salud bucal, las profesionales a cargo del Departamento de Prevención de SOLP visitaron el Jardín del club Gimnasia Esgrima de La Plata, donde también se llevó a cabo una jornada de promoción de la salud, junto a los 98 niños y docentes. Los niños de este jardín también recibieron el kit de prevención con cepillos, folletos y el certificado correspondiente por adquirir conocimientos sobre los cuidados para preservar y mejorar la salud bucal.

		</p>

		<div class="row mb-2">
			<div class="col-md-6">
				<img class="img-fluid" src="images/relac-institucionales/jardin-EDLP-2015.png" alt="Relaciones Institucionales SOLP">
			</div>
			<div class="col-md-6">
				<img class="img-fluid" src="images/relac-institucionales/el-Retiro-Escuela-República-de-Colombia-2018.png" alt="Relaciones Institucionales SOLP">
			</div>
		</div>
		<hr class="mb-4">

	</div>
</div>

