<div class="row">
	<div class="col-md-12">
		<h2>Distinciones</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12 mb-4">
		<h3>SOLP 100% Libre de Humo</h3>
		<p>El 6 de junio del 2014, el Ministerio de Salud de la Provincia de Buenos Aires, declaró Libre de Tabaco a la SOLP y estableció que el tabaquismo es la principal causa de muertes prevenibles, enfermedades y discapacidades en el mundo (3.500.000 muertes al año en el mundo). <small>Ref: Organización Mundial de la Salud</small></p>
		<p>En la necesidad de proteger la salud de la comunidad que integra la Sociedad Odontológica de La Plata, la Institución se constituye como entidad responsable en la educación para la salud de la población en un sentido integral.</p>

		<p>Resolución Nº 4/2014 de la Comisión Directiva de la SOLP, resuelve:</p>
		<ul class="mb-4">
			<li><strong>ARTICULO 1º.</strong> Declarar a la SOLP como entidad libre de humo.</li>
			<li><strong>ARTICULO 2º.</strong> Aplicar la presente resolución en todo el ámbito de la Sociedad Odontológica de La Plata debiendo ser respetada por los miembros de la comunidad propia y los visitantes.</li>
			<li><strong>ARTICULO 3º.</strong> Dar amplia difusión a la presente y disponer en lugares visibles y de acceso público información al respecto.</li>
		</ul>

		<div class="row mb-2">
			<div class="col-md-6">
				<img class="img-fluid" src="images/distinciones-1.jpg" alt="Solp y Ministerio de Salud de la Provincia de Buenos Aires">
			</div>
			<div class="col-md-6">
				<img class="img-fluid" src="images/distinciones-2.jpg" alt="Solp y Ministerio de Salud de la Provincia de Buenos Aires">
			</div>
		</div>
		<hr class="mb-4">

		<h3>SOLP Entidad laboralmente saludable</h3>

		<p>Con el objetivo de fomentar la creación de ambientes favorecedores de la actividad física y la alimentación saludable, el Ministerio de Salud de la Provincia de Buenos Aires lleva adelante un programa de prestaciones de servicios para fomentar hábitos saludables entre empleados allegados socios y público.</p>
		<p>La certificación fue otorgada en el ámbito de la Cámara de Diputados de la Provincia de Buenos Aires, con la presencia del Presidente de la Comisión de Salud de la legislatura el Dr. Juan de Jesús, y representantes del Ministerio de Salud provincial como el Dr. Luis Crovetto Director de Atención Primaria de Salud, el Licenciado Mario Virgolini, el Dr. Diego Torino Director de Cuidados de Salud del Adulto y representantes de municipios y colegios profesionales, donde se entregaron certificaciones a organizaciones municipales y colegios provinciales que cumplieron con la reglamentación para ser declaradas <strong>"Organizaciones libres de Humo"</strong> título que también cuenta la SOLP.</p>
		<p>Sociedad Odontológica de La Plata fue la primera y la única institución del ámbito privado en todo el territorio de la Provincia de Bs As que fue declarada como responsable de generar en su entorno un <strong>"Espacio Laboral Saludable"</strong>, con acciones, medidas y difusión de estímulos y propuestas alimentarias y físicas, para mejorar la calidad de vida de sus empleados socios y público en generalPorque entendemos que es necesario un cambio en las conductas hacia una alimentación más saludable y aumento de la actividad física, para promover una mejora en la salud no solo de quienes trabajamos en SOLP, sino también de nuestros socios.</p>
		<hr>

		<h3>El premio de ISALUD 2010 Educación y salud institucional </h3>
		<img class="img-fluid" src="images/relac-institucionales/premio.jpg" alt="Premio de ISALUD 2010 Educación y salud institucional">
	</div>
</div>
