<div class="row">
	<div class="col-md-12">
		<h2>Consultas</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12 mb-4">
		<p class="mb-4">A través del correo electrónico <a href="mailto:biblioteca@solp.org.ar">biblioteca@solp.org.ar</a> podrás realizar las siguientes gestiones.</p>
	
		<div class="row">
			<div class="col-md-4 col-icono">
				<i class="fa fa-refresh" aria-hidden="true"></i>
				<h5>Renovación</h5>
				<p>Renovación de libros que tiene prestados con fecha vigente, y de acuerdo a las normas establecidas.</p>
			</div>
			<div class="col-md-4 col-icono">
				<i class="fa fa-book" aria-hidden="true"></i>
				<h5>Recomendar</h5>
	    		<p>Para sugerir la compra de un título de tu interés, ingresa a "Recomiendo la compra de este título".</p>
			</div>
			<div class="col-md-4 col-icono">
				<i class="fa fa-comments-o" aria-hidden="true"></i>
				<h5>Contáctenos</h5>
	    		<p>Para realizar consultas bibliográficas. Para darnos sugerencias de mejora del servicio.</p>
			</div>
		</div>
	</div>
	<div class="col-md-12">		
		<h4>Lugar y horario de atención</h4>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Horario de Verano:</strong><br> Lunes a viernes: 8 hs. a 15 hs.</p>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Horario durante ciclo lectivo:</strong><br> Lunes a viernes: 8 hs. a 15 hs y Miércoles y viernes: 18:30 hs. a 20:30 hs.</p>
        <p><strong>Sociedad Odontológica de La Plata / 8vo. Piso</strong></p>
        <p><i class="fa fa-phone" aria-hidden="true"></i> Teléfono: (0221) 422-7471 int. 203.</p>
        <a class="linkdestacado" href="mailto:biblioteca@solp.org.ar"><i class="fa fa-envelope-o" aria-hidden="true"></i> biblioteca@solp.org.ar</a>
	</div>
</div>
