<div class="row">
	<div class="col-md-12">
		<h2>Nuestras Colecciones</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Consulta en Sala</h3>

	    <a href="http://www.biblioteca.mincyt.gob.ar/" target="_blank">Biblioteca MINCyT</a>
	    <p>La <strong>Biblioteca Electrónica de Ciencia y Tecnología</strong> brinda a los investigadores argentinos acceso, desde las instituciones habilitadas, a través de internet al texto completo de más de 17.000 títulos de revistas científico-técnicas, 9.000 libros, 2.700 estándares y a bases de datos referenciales de gran valor para la comunidad científica. Este catálogo está disponible solo en las computadoras que posee la Biblioteca para uso de los lectores y usuarios.</p>
		<hr class="mb-4">
	    

		<h3>Acceso Libre</h3>
		<h5>Repositorio institucional</h5>
		<p>Repositorio Institucional de archivos digitales producidos por socios, docentes y alumnos de la Sociedad Odontológica de La Plata,  la Facultad de Odontología UCALP convenio SOLP, Servicio de Guardias Odontológicas (Se.Gu) e Instituto de Educación Superior “Dr. Raúl Duyos”.<br>
		El Repositorio de la SOLP tiene como objetivo Almacenar, Preservar y Difundir la producción científica y académica desarrollada en las distintas áreas educativas, favoreciendo la Visibilidad y el Impacto de resultados en la sociedad. </p>
		<hr class="mb-4">		

	    <a href="http://biblioteca-virtual.solp.org.ar/cgi-bin/wxis1660.exe/lildbi/iah/?IsisScript=lildbi/iah/iah.xis&base=LILACS&lang=e" target="_blank">Catálogo OnLine de la Biblioteca “Dr. Aníbal E. Inchausti”</a>
	    <p>En este acceso, Ud. podrá informarse en su consultorio o domicilio, a cualquier hora del día, sobre las obras que posee la Biblioteca de la SOLP (libros, cd-rom, videos, folletos, publicaciones periódicas), buscando por autor, temas/descriptores, palabras del título.</p>

    	<a href="https://www.ncbi.nlm.nih.gov/pubmed" target="_blank">Medline (PubMed)</a>
    	<p>Citas bibliográficas de los artículos de los journals biomédicos (desde 1966), con algunos journals con texto libre (free).</p>
		
	    <p><a href="http://www.scielo.org/php/index.php" target="_blank">Biblioteca Científica Electrónica en Línea (SciELO)</a></p>
		<p>Modelo para la publicación electrónica cooperativa de revistas científicas en Internet. Especialmente desarrollado para responder a las necesidades de la comunicación científica en los países en desarrollo y particularmente de América Latina y el Caribe, el modelo proporciona una solución eficiente para asegurar la visibilidad y el acceso universal a su literatura científica, contribuyendo para la superación del fenómeno conocido como 'ciencia perdida'.</p>
		
	    <p><a href="http://bvsalud.org/" target="_blank">Biblioteca Virtual en Salud (BVS)</a></p>
		<p>Es la base distribuidora del conocimiento en salud en Latinoamérica. Contiene numerosas bases de datos. </p>

	    <p><a href="https://www.cochranelibrary.com/" target="_blank">Cochrane Library</a></p>
	    <p>Es una colección actualizada de fuentes de información sobre medicina basada en evidencias. Incluye Revisiones sistemáticas de ensayos clínicos controlados sobre prevención, diagnóstico, tratamiento y rehabilitación de enfermedades y desórdenes orales, dentales y cráneo-faciales, realizados por el Grupo Cochrane de Revisores de Salud Oral. </p>

		<p>Cochrane Iberoamérica: <a href="https://es.cochrane.org/es" target="_blank">https://es.cochrane.org/es</a></p>


	    <p><a href="www.labovirtual.com.ar/informacion0.htm" target="_blank">Laboratorio Virtual de Patología Dental </a></p>

		<hr class="mb-4">

		<h3>Materiales disponibles:</h3>

	    <p><a target="_blank" href="descargas/biblioteca/material-bibliografico.doc" download="material-bibliografico.doc"><i class="fa fa-download" aria-hidden="true"></i>
 Libros (Actualizado Feb./2018)</a></p>
	    <p><a target="_blank" href="descargas/biblioteca/folletos.doc" download="folletos.doc"><i class="fa fa-download" aria-hidden="true"></i>
 Folletos</a></p>
	    <p><a target="_blank" href="descargas/biblioteca/material-bibliografico.doc" download="material-bibliografico.doc"><i class="fa fa-download" aria-hidden="true"></i>
 Videos</a></p>
	    <p><a target="_blank" href="descargas/biblioteca/cd-roms.doc" download="cd-roms.doc"><i class="fa fa-download" aria-hidden="true"></i>
 Cd-rom</a></p>
	    <p><a target="_blank" href="descargas/biblioteca/tesis.doc" download="tesis.doc"><i class="fa fa-download" aria-hidden="true"></i>
 Tésis</a></p>
	    <p><a target="_blank" href="descargas/biblioteca/posters.doc" download="posters.doc"><i class="fa fa-download" aria-hidden="true"></i>
 Pósters</a></p>
	    <p><a target="_blank" href="descargas/biblioteca/Tesinas_Carrera_de_Especializacion_en_Endodoncia_2007.docx" download="Tesinas_Carrera_de_Especializacion_en_Endodoncia_2007.docx"><i class="fa fa-download" aria-hidden="true"></i>
 Tesinas</a></p>
	    <p><a target="_blank" href="descargas/biblioteca/Publicaciones-periodicas.doc" download="Publicaciones-periodicas.doc"><i class="fa fa-download" aria-hidden="true"></i>
 Títulos de publicaciones periódicas de Odontología y Salud en general (Actualizado Feb./2017)</a></p>
		<hr class="mb-4">
	    <h3>Cómo hacer referencias</h3>

	    <p><a target="_blank" href="descargas/biblioteca/NORMAS_DE_VANCOUVER_para_Biblioteca_SOLP.docx" download="NORMAS_DE_VANCOUVER_para_Biblioteca_SOLP.docx"><i class="fa fa-download" aria-hidden="true"></i>
 Según Vancouver</a></p>
		<p><a href="descargas/biblioteca/NORMAS HARVARD APA para Biblioteca de la SOLP.DOCX"><i class="fa fa-download" aria-hidden="true"></i>
 Según APA</a></p>
		<hr class="mb-4">

		<h3>Videos</h3>

		<h5>Búsqueda en bases de datos (Video)</h5>

		<h5 class="mb-2">Búsqueda formulario avanzado</h5>
		<div class="col-sm-12 col-md-8">
			<div class="embed-responsive embed-responsive-16by9 mb-4">
				<iframe src="https://www.youtube.com/embed/XpHS3SWmCbQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>

		<h5 class="mb-2">Búsqueda libre en la base de datos</h5>
		<div class="col-sm-12 col-md-8">
			<div class="embed-responsive embed-responsive-16by9 mb-4">
				<iframe src="https://www.youtube.com/embed/3jyTbb0kBlc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>

	</div>
</div>
