<!-- Section Cabecera -->
<section class="cabecera-seccion-gral cabecera-institucional">
    <div class="row">
        <div class="banda banda-institucional">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Institución</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Cabecera --> 

<!-- Section Contenido -->
<section class="interior autoridades">
    <div class="container">

        <!-- Abre Titulo -->
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Autoridades</h2>
            </div>
        </div>

        <!-- Abre Contenido -->        
        <div class="row">
            <div class="col-md-8 mb-4">
                <h3>COMISION DIRECTIVA 2015-2019</h3>

                <h6>Presidente</h6>
                <p><strong>Dr. Dardo PEREIRA</strong></p>
                <h6>Vice-Presidente 1º</h6>
                <p>Dr. Carlos ZAPARART</p>
                <h6>Vice-Presidente 2º</h6>
                <p>Dra. Olga NUNES</p>
                <h6>Secretario</h6>
                <p>Dra. Liliana JALARIS</p>
                <h6>Prosecretario</h6>
                <p>Dr. Leonardo SENECA</p>
                <h6>Tesorero</h6>
                <p>Dra. Nora Vanesa MORI</p>
                <h6>Pro-Tesorera</h6>
                <p>Dra. María Eugenia BARLETTA</p>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h5>VOCALES TITULARES</h5>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4">
                <h6>Vocal Titular 1</h6>
                <p>Dra. Sandra Mónica LARROSA</p>
                <h6>Vocal Titular 2</h6>
                <p>Dra. María Florencia BARCIA (licencia)</p>
                <h6>Vocal Titular 3</h6>
                <p>Dra. Carmen GUERRA</p>
                <h6>Vocal Titular 4</h6>
                <p>Dra. Mónica PUNTER</p>
                <h6>Vocal Titular 5</h6>
                <p>Dra. Analía GUERRIERO</p>
            </div>
            <div class="col-md-4">
                <h6>Vocal Titular 6</h6>
                <p>Dr. Leonardo FUSE (licencia)</p>
                <h6>Vocal Titular 7</h6>
                <p>Dra. Gabriela ANCHORDOQUI</p>
                <h6>Vocal Titular 8</h6>
                <p>Dr. Carlos BIANCHELLI</p>
                <h6>Vocal Titular 9</h6>
                <p>Dr. Pedro ALCONADA</p>
                <h6>Vocal Titular 10</h6>
                <p>Dr. Gustavo MANSILLA</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h5>VOCALES SUPLENTES</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h6>Vocal Suplente 1</h6>
                <p>Dr. Marcelo QUIÑONES</p>
                <h6>Vocal Suplente 2</h6>
                <p>Dra. Ma. Fernanda EBERBACH</p>
                <h6>Vocal Suplente 3</h6> 
                <p>Dr. Pablo Fernando LANDA</p>
                <h6>Vocal Suplente 4</h6> 
                <p>Dra. Inés EGUILEGOR</p>
                <h6>Vocal Suplente 5</h6> 
                <p>Dra. Elizabeth TESLUK</p>
            </div>
            <div class="col-md-4">
                <h6>Vocal Suplente 6</h6>
                <p>Dr. Esteban SALVIOLI</p>
                <h6>Vocal Suplente 7</h6>
                <p>Dr. Sebastián AMBROSIS</p>
                <h6>Vocal Suplente 8</h6>
                <p>Dr. Juan Pablo ZAPPACOSTA</p>
                <h6>Vocal Suplente 9</h6>
                <p>Dr. Maximiliano Francisco MAZZUCA</p>
                <h6>Vocal Suplente 10</h6>
                <p>Dr. Daniela García GHIGLIANI (licencia)</p>
            </div>
        </div>
    </div>
</section>
