<!-- Section Cabecera -->
<section class="cabecera-seccion-gral cabecera-institucional">
    <div class="row">
        <div class="banda banda-institucional">
        </div>
        <div class="container">
            <div class="titulo">
                <h2>Institución</h2>
            </div>
        </div>
    </div>
</section>
<!-- Fin Section Cabecera --> 

<!-- Section Contenido -->
<section>
    <div class="container">

        <!-- Abre Titulo -->
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Nosotros</h2>
            </div>
        </div>

        <!-- Abre Contenido -->        
        <div class="row">
            <div class="col-md-12">
                <h3>Misión, Visión y Valores</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mb-4">
                <p>Desde hace unos años atrás, esta Comisión Directiva realiza sus tareas, continuando una labor que durante años consolidaron importantes dirigentes que le precedieron en las funciones.</p>
                <p>Fruto de la mancomunión de diferentes personalidades, la actual conducción es una amalgama de importantes valores personales, que en su fusión indeleble en el trabajo en equipo, permiten conjugar un complejo entramado de diferentes cualidades que le han dado vida al grupo que se conformo.</p>              
                <p>Entre los principales valores podemos destacar los siguientes: el respeto a la historia institucional de la SOLP, la prudencia en la expresión escénica, la tenacidad en la prosecución de los logros institucionales, la humildad que no interfiere en la realización de los objetivos de la entidad, la pasión en la defensa de las causas que involucren al socio, la astucia para manejarse en los difíciles laberintos de la vida dirigencial, y la sagacidad en reconocer los valores en donde nadie los puede ver.
                Pero a ello le han sumado, la audacia de algunos, la prudencia de otros, el respeto de todos, a todas las expresiones políticas, religiosas, y sociales. La innovación como un fruto del atreverse siempre a un poco mas.</p>
                <p>Entre los principales valores podemos destacar los siguientes: el respeto a la historia institucional de la SOLP, la prudencia en la expresión escénica, la tenacidad en la prosecución de los logros institucionales, la humildad que no interfiere en la realización de los objetivos de la entidad, la pasión en la defensa de las causas que involucren al socio, la astucia para manejarse en los difíciles laberintos de la vida dirigencial, y la sagacidad en reconocer los valores en donde nadie los puede ver.
                Pero a ello le han sumado, la audacia de algunos, la prudencia de otros, el respeto de todos, a todas las expresiones políticas, religiosas, y sociales. La innovación como un fruto del atreverse siempre a un poco mas.</p>
                <p>El no creerse importante, y buscar todos los días parecerse cada vez mas, a lo que los demás piensan que uno es, como portador de valores trascendentes. El tener ya no las puertas abiertas para atender al socio, o al visitante, sino algo mucho mas importante, la mente y el corazón, dispuestos a cambiar para poder ser cada día un poco mejores personas, un poco mas solidarios, y un poco mejores dirigentes de lo que hoy son.</p>
                <p>Así, este grupo que se afianzo en su accionar, continua hoy redoblando la apuesta para conseguir mayores y mejores fuentes de trabajo para el socio, mejores servicios, mayor gama de prestaciones solidarias, para continuar apuntalando a esta gran familia que es la SOLP.</p>
                <p>Pero siempre tratando de consolidar sus tres objetivos trascendentales, aquellos que le han permitido fortalecer su función primigenia y que no son otros que:</p>
                
                <div class="row">
                    <div class="col-md-4">
                        <p class="valores">La <br><span>EDUCACIÓN</span> <br>contínua y permanente</p>
                    </div>
                    <div class="col-md-4">
                        <p class="valores">La <br><span>DEFENSA</span> <br>del sistema solidario</p>
                    </div>
                    <div class="col-md-4">
                        <p class="valores">La <br><span>LIBRE ELECCIÓN</span> <br>profesional</p>
                    </div>
                </div>      
                <hr>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="images/frente.jpg" alt="Frente Edificio de SOLP">
                <p class="epigrafe">Nuestra sede</p>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h6>RESEÑA HISTÓRICA</h6>
                <h3>Desde el lejano pasado hasta el dinámico presente</h3>
                <h5>Así evolucionó nuestra entidad</h5>
                <p>El Café Victoria, ubicado en la calle 7 y 49 de la Ciudad de La Plata, era el lugar habitual de reunión de un grupo de odontólogos de temperamento activo, cuyos ideales humanitarios y espíritu pionero les hizo madurar la idea de agruparse en una Entidad, donde pudieran desarrollar al máximo sus posibilidades científicas, y estrechar vínculos de amistad. Así se fundó la SOLP, el 5 de Agosto de 1925, y se estableció provisoriamente en los altos de la Farmacia Cárcamo, de la calle 7 y 47 de nuestra ciudad. Al poco tiempo se tomo la decisión de que la recién surgida SOLP desarrollara su actividad compartiendo una casa con la Sociedad Médica Platense; hasta que, en el año 1964, los profesionales que conformaban la Sociedad decidieron colaborar con el 3 % de sus ingresos y lograron comprar, entre todos, su primera sede propia, una casa ubicada en la calle 62 casi esquina 4.</p>
                <p>A partir del año 1967, debido al crecimiento de la actividad científica y al surgimiento de una inmensa actividad gremial, la sede se mudó a una casa en la Avenida 13 Nº 666, en la cual funcionó la primera clínica odontológica de la Sociedad, allí permanecieron hasta 1986. En el año 1980 se comenzó la construcción de lo que hoy es el edificio de la SOLP.</p>
                <p>En el año 1986, se inauguró el mismo y que en la actualidad es sede de la entidad. Cuenta en sus instalaciones con dos importantes clínicas para el postgrado, dos laboratorios, biblioteca, consultorios de auditoria, salón de exposiciones, salón de actos, Clínica especializada de grado, área quirúrgica propia, salon de fiestas, amplias instalaciones administrativas, diez aulas para la actividad docente, y otras dependencias administrativas que le permiten a los socios y concurrentes desarrollarse en un ambiente altamente funcional.
                Hoy, como ayer, la SOLP es una pujante Institución Profesional con igualdad de derechos para todos los socios. Si bien en un principio la Sociedad Odontológica de La Plata se ha preocupado por el avance científico de sus profesionales, no ha dejado, en ningún momento, de tener en cuenta los intereses de la población, poniendo sus conocimientos y sus instalaciones al servicio de la comunidad; estableciendo así su propia dinámica de crecimiento.</p>
                <p>Hoy consolidada en una fuerte base institucional, se prepara para abordar las etapas venideras con recursos humanos, científicos y técnicos de avanzado criterio; sobreponiéndose con la fortaleza que proporciona el deber cumplido y el alza de los principios que caracterizaron desde su nacimiento a la Sociedad: <strong>Unión, Solidaridad, Trabajo e Investigación Profesional.</strong></p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid mb-4" src="images/inaug-entrada2.jpg" alt="Entrada del edificio de SOLP">
                <img class="img-fluid mb-4" src="images/inaug-entrada1.jpg" alt="Recepción del edificio SOLP">
                <img class="img-fluid" src="images/entrada-3.jpg" alt="Recepción del edificio SOLP">
            </div>
        </div> 
    </div>
</section>
