<div class="row">
    <div class="col-md-12">
        <h3>Nuestra Comisión</h3>
        <p>Somos un grupo de profesionales Odontógolos socios vitalicios de esta entidad.</p>
		<p>Nuestros objetivo es procurar la participación de todos los socios (activos y pasivos) colaborando con la Institución en lo referente a actividades culturales, recreativas y otras vinculadas a la profesión.</p>
		<p>Nos vinculamos con otras asociaciones y asesoramos en temas vinculados con la previsión y la seguridad social.</p>
		<p>Promovemos la armonía generacional entre los profesionales, estimulando las buenas relaciones entre todos los socios.</p>
		<p>Si querés sumarte te esperamos! Nos reunimos aquí todos los martes de 15 a 17hs.</p>
		<p>Podés escribirnos a: <br>
		<a href="mailto:mesadirectivavitalicios@yahoo.com.ar"><i class="fa fa-envelope destacado"></i> mesadirectivavitalicios@yahoo.com.ar</a></p>
        <hr class="mb-4">
    </div>
</div>
