<h2>Comité Científico Asesor</h2>

<p><strong>Dr. Roberto Chaves</strong><br>
 Sociedad Odontológica de La Plata. Argentina</p>

<p><strong>Dra. Ana Hernández</strong><br> 
Trabajador independiente. Argentina</p>

<p><strong>Dr. Carlos Conesa Alegre.</strong><br> 
Profesor Titular de la Cátedra de Operatoria Dental. Facultad de Odontología. Universidad Católica de La Plata. Argentina</p>

<p><strong>Dr. Martin Edelberg</strong><br> 
Universidad del Salvador/Asociación  Odontológica Argentina. Argentina</p>

<p><strong>Dr. Alberto Tsuru </strong><br> 
Profesor Adjunto de Prótesis II. Profesor Adjunto de Rehabilitación Integral Adulto. Facultad de Odontología. Universidad Católica de La Plata. Argentina</p>

<p><strong>Dra. Elizabeth MacAdden</strong><br> 
Trabajador indenpendiente. Argentina</p>

<p><strong>Dr. Ignacio Saffarano</strong><br> 
Sociedad Odontológica de La Plata. Argentina</p>

<p><strong>Dra. Ana Blank </strong><br> 
Trabajador indenpendiente. Argentina</p>

<p><strong>Dr. Ricardo Ponticelli </strong><br> 
Universidad Católica de La Plata Convenio Sociedad Odontológica de La Plata. Facultad de Odontología. Argentina</p>

<p><strong>Dr. Enrique Massone </strong><br> 
Trabajador Independiente</p>

<p><strong>Dra. Alicia Brea</strong><br> 
Universidad Católica de La Plata Convenio Sociedad Odontológica de La Plata. Facultad de Odontología. Argentina</p>

<p><strong>Dra. Cristina Roletto</strong><br>
Sociedad Odontológica de La Plata. Argentina</p>

<p><strong>Dr. Dante Caramagna</strong><br> 
Sociedad Odontológica de La Plata. Argentina</p>

<p><strong>Dr. Osvaldo Spinelli</strong><br> 
Jefe del Departamento de Informática Médica y Telemedicina. Facultad de Ciencias Médicas. Universidad Nacional de La Plata. Argentina</p>

<p><strong>Dr. Guillermo Sanfilippo</strong> <br> 
Universidad Católica de La Plata Convenio Sociedad Odontológica de La Plata. Facultad de Odontología. Argentina</p>

<p><strong>Dra. Marta Tobías</strong><br> 
Trabajador independiente. Argentina</p>

<p><strong>Dr. Pablo Olivieri </strong><br> 
Sociedad Odontológica de La Plata. Argentina</p>

<p><strong>Dr. Adrián Bencini </strong><br> 
Profesor Titular de la Cátedra de Cirugía II. Facultad de Odontología. Universidad Católica de La Plata. Argentina</p>

<p><strong>Dr. Julio Velázquez </strong><br> 
Profesor Titular de la Carrera de Postgrado de Cirugía y Traumatología Buco-Maxilo-Facial. Facultad de Odontología. Universidad Católica Argentina. Argentina</p>

<p><strong>Dr. Jorge Luis Juanes</strong><br> 
Trabajador Independiente, Argentina</p>

<h3>Comité Científico Externo</h3>
<p><strong>Prof. Dr. Raúl Caffesse. </strong><br> 
Complutense University. Madrid. España. </p>

<p><strong>Prof. Dr. Antonio Bascones Martínez.</strong> <br> 
Catedrático de Medicina Oral y Periodoncia UCM. España</p>

<p><strong>Dr. Facundo Caride. </strong><br> 
Profesor Titular de Periodoncia A y B. Facultad de Odontología. Universidad Nacional de La Plata. Argentina</p>

<p><strong>Prof. Beatriz Herbel </strong><br> 
Carrera de Especialización en Endodoncia. Escuela de Odontología. Universidad del Salvador/Asociación Odontológica Argentina. Argentina</p>

<p><strong>Dr. Jorge Saavedra Docente. </strong><br> 
Escuela de Odontología, Universidad del Salvador/Asociación Odontológica. Argentina</p>

<p><strong>Dr. Eduardo Lanata</strong><br> 
Profesor Titular. Cátedra de Técnica de Operatoria Dental. Universidad de Buenos Aires. Argentina</p>

<p><strong>Prof. Dr. Fernando Goldberg </strong><br> 
Profesor Emérito de Endodoncia, Escuela de Odontología, Universidad del Salvador/Asociación Odontológica. Argentina</p>



