 <h2>Revista de la Sociedad Odontológica de La Plata</h2>
 <p>La Revista de la SOLP inicia su publicación en el año 1988, con la misión de fomentar la comunicación científica y actualización permanente de los profesionales odontólogos mediante la publicación de trabajos originales, revisiones de casos y casos clínicos de autores nacionales e internacionales.</p>

<p>Los destacados profesionales han sabido llevar adelante la tarea de dirigir la revista, y ella es lo que actualmente es, por el empeño e inteligencia con que supieron guiarla a lo largo del tiempo</p>
<ul class="lista">
	<li>Dr. Rómulo F. Barcos: 1988 – 1989</li>
	<li>Dr. Emidio Pappalardo: 1989</li>
	<li>Dr. Héctor Grassi: 1989 – 1990</li>
	<li>Dr. Jorge García: 1991 – 1994</li>
	<li>Dr. Roberto Chaves: 1994 – 2011</li>
</ul>
    
<p>Dirigida en la actualidad por la Dra. María Teresa Cañete a partir de 2012, con la colaboración de la Dra. Carmen Guerra, como Secretaria de la misma y el apoyo en la realización del arbitraje de un Comité Científico Asesor,  de manera no remunerativa, que realiza la revisión de los trabajos para asegurar la calidad, validez y rigor científico de los mismos antes de su publicación. </p>

<p>Sus números figuran en los catálogos de numerosas bibliotecas de salud tanto nacionales como internacionales, estando a disposición de sus usuarios y lectores su correlato a partir de 2012 de su versión on line en (www.solp.org.ar).</p>

<p>La línea editorial de esta revista pretende poner a disposición del lector trabajos de investigación, de aplicación clínica, de revisión bibliográfica y, satisfaciendo la necesidad permanente de aprendizaje, la apertura a la asimilación de nuevas técnicas, nuevos materiales y nuevas ideas.</p>

<p>La Revista de la Sociedad Odontológica de La Plata es una publicación Propiedad de la Sociedad Odontológica de La Plata.</p>

<ul class="lista">
	<li><strong>Periodicidad:</strong> cuatrimestral</li>
	<li>Esta indizada en las bases de datos: Biblioteca Virtual de Salud de la República Argentina, LILACS y en el Directorio Latindex.</li>
	<li>Registro intelectual en Trámite.</li>
	<li>Las opiniones, consideraciones y puntos de vista consignados por los autores de los artículos no reflejan necesariamente la óptica de la institución Se autoriza la reproducción del material contenido en sus números, previa autorización y citando la fuente.</li>
	<li><strong>Tirada:</strong> 2000 ejemplares</li>
</ul>

<hr>

<h4>Revista Sociedad Odontológica La Plata, 2018; XXVIII(55)</h4>
<a href="descargas/revista/2019/Preview_Revista_SOLP_56.pdf" target="_blank"><img src="images/revista/2019/revista-solp-56.jpg" alt="Revista SOLP 56"></a>

    
    
    
    

