<div class="row">
	<div class="col-md-12">
		<h2>Contacto</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12 mb-4">
		<h6>DIRECCIÓN:</h6>
		<p>Calle 13 Nº 680 PISO 1. C.P.1900</p>
		<h6>SEDE:</h6>
		<p>La Plata</p>
		<h6>TELÉFONO:</h6>
		<p>+54 221 4227471 , Int. 228</p>
		<h6>TELÉFONO:</h6>
		<p>221 4393100 , INT. 1280</p>
		<h6>CORREO ELECTRÓNICO:</h6>
		<p><i class="fa fa-envelope destacado"></i> <a href="mailto:odontologia@ucalp.edu.ar">odontologia@ucalp.edu.ar</a></p>
	</div>
</div>
