
<h2>Docentes</h2>
<h4>Profesores Titulares y Adjuntos por Materia</h4>


<h3>1° AÑO</h3>

<h6>Anatomía</h6>
<p>Od. Zaparart Carlos</p>

<h6>Química Biológica</h6>
<p>Bioq. Braviz López, Ma. Eugenia</p>

<h6>Fisiología I</h6>
<p>Od. Mansilla Gustavo</p>

<h6>Histología</h6>
<p>Od. Aguilar, Perla</p>

<h6>Biología Molecular</h6>
<p>Od. Bianchelli, Guillermo</p>

<h6>Materiales Dentales I</h6>
<p>Od. Azarri, Ma. José</p>

<h6>Diagnóstico Clínico</h6>
<p>Od. Rossi, Ricardo</p>

 

<h3>2° AÑO</h3>

<h6>Patología</h6>
<p>Dr. Dorati Pablo Javier</p>

<h6>Fisiología II</h6>
<p>Od. Mansilla Gustavo</p>

<h6>Materiales Dentales II</h6>
<p>Od. Azarri, Ma. José</p>

<h6>Microbiología</h6>
<p>Dra. Pantozzi, Florencia</p>

<h6>Farmacología I</h6>
Dra. Gonzalez, Maria Claudia</p>

<h6>Diagnóstico Por Imágenes I</h6>
<p>Dr. Pontichelli, Ricardo</p>

<h6>Operatoria I</h6>
<p>Mg. De Barrio, Marcelo</p>

<h6>Prótesis I</h6>
<p>Od. Chaves, Mariano</p>

<h6>Endodoncia I</h6>
<p>Dra. Cañete, María Teresa</p>

<h6>Periodoncia I</h6>
<p>Od. Roletto, Cristina</p>

<h6>Cirugía I</h6>
<p>Od. Martini, Roberto Mariano</p>

<h6>Teología I</h6>
<p>Lic. Rincon Galarza Eduin Alexander</p>

 

<h3>3° AÑO</h3>
 

<h6>Farmacología II</h6>
<p>Dra. Gonzalez, Maria Claudia</p>

<h6>Estomatología con Semiología</h6>
<p>Dra. Dorati, Pablo Javier</p>

<h6>Periodoncia II</h6>
<p>Od. Roletto, Cristina</p>

<h6>Operatoria II</h6>
<p>Dr. Conesa Alegre, Carlos</p>

<h6>Endodoncia II</h6>
<p>Dra.Cañete Maria Teresa</p>

<h6>Prótesis II</h6>
<p>Od. Tsuru, Alberto</p>

<h6>Cirugia II</h6>
<p>Od. Bencini, Adrián</p>

<h6>Teología II</h6>
<p>Lic. Rincon Galarza Eduin Alexander</p>

<h6>Diagnóstico Por Imágenes II</h6>
<p>Dr. Pontichelli, Ricardo</p>

<h6>Psicología</h6>
<p>Lic. Valerga María Teresa</p>

<h6>Antropología Filosófica</h6>
<p>Lic. Mallo Huergo Eduardo</p>

 

<h3>4° AÑO</h3>
 

<h6>Odontología Integral Adultos I</h6>
<p>Dr. De Barrio, Marcelo Alberto</p>

<h6>Odontología Integral Niños y Adolescentes I</h6>
<p>Od. Brea, Alicia</p>

<h6>Odontología Sanitaria Social y Legal I</h6>
<p>Od. Pereira, Dardo</p>

<h6>Teologia III</h6>
<p>Lic. Scirica Juan Carlos Jesús</p>

<h6>Metodología científica I</h6>
<p>Prof. Maria Cecilia Lastra</p>

<h6>Taller de Inglés I</h6>
<p>Prof. Kuguel Liliana</p>

<h6>Informática I</h6>
<p>Cta. Cfico. Taruschio Marcelo Eduardo</p>

<h6>Ética</h6>
<p>Lic. Mallo Huergo Eduardo</p>

 

<h3>5° AÑO</h3>
 

<h6>Odontología Integral Adultos II</h6>
<p>Dra. Chijlis Laura</p>

<h6>Odontología Integral Niños y Adolescentes II</h6>
<p>Od. Brea, Alicia</p>

<h6>Odontología Sanitaria Social y Legal II</h6>
<p>Od. Pereira, Dardo</p>

<h6>Teologia IV</h6>
<p>Lic. Scirica Juan Carlos Jesús</p>

<h6>Metodología científica II</h6>
<p>Prof. María Cecilia Lastra</p>

<h6>Informática II</h6>
<p>Cta. Cfico. Taruschio Marcelo Eduardo</p>

<h6>Bioética</h6>
<p>Prof. María Cecilia Lastra</p>

<h6>Taller de Inglés II</h6>
<p>Prof. Kuguel Liliana</p>
