<div class="row">
	<div class="col-md-12">
		<h6>Facultad de Odontología SOLP - UCALP</h6>
		<h2>Un proyecto que busca la excelencia </h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12 mb-4">
		<h3>La nueva Facultad de Odontología de la UCALP-SOLP: una carrera con respaldo.</h3>

		<img class=" img-fluid float-right m-2" src="images/educativa/hall-facultad.jpg" alt="Frente Solp, cartel UCALP">
		<p>Las épocas actuales y en mayor medida las futuras, no dejarán lugar para una formación profesional que no fije como premisa la excelencia y la alta calidad de la atención odontológica, como elementos diferenciadores, frente a estándares de exigencia cada vez más altos.</p>

		<p>El marco Institucional que da origen a esta iniciativa académica tiene como protagonistas a dos instituciones de indiscutida legitimidad. Por un lado, la Sociedad Odontológica de La Plata (SOLP), entidad pionera con 93 años de ininterrumpida trayectoria académica e institucional en la promoción y búsqueda de instancias superiores de inserción y actualización profesional de los odontólogos de la región y del interior de la Provincia. Por el otro, la Universidad Católica de La Plata (UCALP), referente ineludible en la formación universitaria ecuménica, también precursora entre las Instituciones educativas de iniciativa privada que albergó nuestro país, caracterizada por su constante preocupación por la formación integral y ética de sus egresados.
		</p>

		<h3>Recursos Humanos</h3>

		<p>Los recursos humanos de ambas instituciones y específicamente el cuerpo docente de SOLP, quien será parte en mayor grado del equipo de profesores de la carrera de Odontología, garantizan ese perfil de formación que les permitirá a los estudiantes comprender con claridad la problemática filosófica, social y profesional de la sociedad en la que van a insertarse, como así también participar de ella y constituirse en nuevos núcleos de formación de recursos humanos.</p>

		<p>La excelente formación científica a nivel docente y en investigación del cuerpo de profesores, asegura además que los profesionales que allí surjan estén dotados de las técnicas más avanzadas para las terapéuticas que tratan de resolver las enfermedades buco dentales que afectan a la población, y sobre todo del valor de la salud y de las medidas preventivas para poder mantenerla. De ese modo, se apunta a que cada graduado haga de la prevención el mejor tratamiento para evitar la enfermedad, y ser así un agente de promoción de la salud y de la mejora en la calidad de vida de nuestra población. </p>
	</div>
</div>
