<!-- Abre Titulo -->
        <div class="row">
            <div class="col-md-12 tituloSeccion">
                <h2>Requisitos</h2>
            </div>
        </div>

        <!-- Abre Contenido -->        
        <div class="row">
            <div class="col-md-12">
                <h3>Pueden solicitar el ingreso a la UCALP</h3>
                <ul class="lista">
				    <li>Quienes hayan concluido o se encuentren cursando el último año de la enseñanza media o del ciclo polimodal. Para ingresar a la UCALP se debe realizar y aprobar un Curso de Admisión, compuesto por un coloquio y un curso de orientación y evaluación.</li>
				    <li>Quienes han comenzado estudios universitarios en otras universidades y/o institutos de educación superior no universitaria, nacionales o extranjeros y deseen continuarlos en la UCALP, deben solicitar a la institución educativa donde se realizaron esos estudios el Pase y las Equivalencias de las materias que son comunes a ambos planes de estudio. Deberán cumplir condiciones de ingreso especiales.</li>
				    <li>Quienes tienen más de 25 años de edad y estudios primarios aprobados, cuentan con condiciones de ingreso especiales.</li>
				</ul>
            </div>
        </div>